- unless user_signed_in?
  .row-fluid
    .span1
      %label.inline= "#{t('profile_emails.new.from_label')}<span class='danger-text'>*</span>".html_safe
    .span5
      = f.text_field :author_fullname, placeholder: t('profile_emails.new.from_fullname_placeholder'), class: 'span12'
    .span5
      = f.email_field :author_email, placeholder: t('profile_emails.new.from_email_placeholder'), class: 'span12'
.row-fluid
  .span1
    %label.inline= "#{t('profile_emails.new.to_label')}<span class='danger-text'>*</span>".html_safe
  .span5
    = f.text_field :recipient_fullname, placeholder: t('profile_emails.new.to_fullname_placeholder'), class: 'span12'
  .span5
    = f.email_field :recipient_email, placeholder: t('profile_emails.new.to_email_placeholder'), class: 'span12'
.row-fluid
  .span1
  .span10
    - if user_signed_in? && current_user == @user && !subdomain?
      %label.inline= "#{t('profile_emails.new.coverletter_label')}<span class='danger-text'>*</span>".html_safe
      = f.text_area :text, rows: 10
    - else
      %label.inline= "#{t('profile_emails.new.message_label')}<span class='danger-text'>*</span>".html_safe
      = f.text_area :text, rows: 3, placeholder: t('profile_emails.new.message_placeholder')
    %input{type: 'hidden', name: 'user_id', value: @user.id}
    .pull-right.danger-text *#{t('required_fields')}