.span12#profile-emails
  - @profile_emails_by_date.each do |profile_emails_hash|
    %br/
    #date
      .row-fluid
        .span12
          %h2= "#{t('date.month_names')[profile_emails_hash[:date][:month]].humanize} #{profile_emails_hash[:date][:year]}"
      .row-fluid
        .span12
          - profile_emails_hash[:profile_emails].each do |profile_email|
            %a{href: "#profile-email-modal-#{profile_email.id}", 'data-toggle' => 'modal'}
              .profile-email-thumb{id: "profile-email-thumb-#{profile_email.id}"}
                .well
                  = render 'profile_emails/show', profile_email: profile_email
                =t 'profile_emails.index.to_fullname', fullname: profile_email.recipient_email
                .graylight-text=t 'profile_emails.index.on_date', date: profile_email.created_at.strftime('%d-%m-%Y')

- @profile_emails.each do |profile_email|
  .modal.hide{id: "profile-email-modal-#{profile_email.id}"}
    .modal-header.no-border
      %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
    .modal-body
      .profile-email-show
        = render 'show', profile_email: profile_email
