.row-fluid
  .span6.well.offset3
    = form_for @profile_email do |f|
      = render 'new', f: f
      %hr/
      = render 'users/show_identity', user: current_user
      %br/
      .pull-right= f.submit t('profile_emails.new.send'), class: 'btn btn-primary'
.row-fluid
  .span6.well.offset3
    %h2=t 'mailers.profile_email.current_user.html.more_about', fullname: @user.fullname
    %br/
    = render 'users/show_experience_education', profile: current_user.profile
    = render 'users/show_skills',               profile: current_user.profile
    = render 'users/show_qualities',            profile: current_user.profile
    %br/
    = link_to t('mailers.profile_email.current_user.html.view_complete_profile', fullname: @user.fullname), "http://#{current_user.subdomain}.joblr.co"