- devise_error_messages! unless resource.errors.empty?

.row-fluid.devise
	.span2.hidden-phone
	.span8
		.well
			.row-fluid
				.span5
					%h1= t('account_settings')
					= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
						- unless current_user.social?
							%small= t('devise.registrations.username')
							%span.danger-text *
							%br/
							= f.text_field :username
							%br/
						- else
							= f.hidden_field :username
						%small= t('devise.registrations.fullname')
						%span.danger-text *
						%br/
						= f.text_field :fullname
						%br/
						%small= t('devise.registrations.email')
						%br/
						= f.email_field :email

						- unless current_user.social?
							%br/
							%small= t('devise.registrations.new_password')
							%br/
							= f.password_field :password, :autocomplete => 'off'
							%br/
							%small= t('devise.registrations.new_password_confirm')
							%br/
							= f.password_field :password_confirmation
						.buttons
							%a.btn{href: url_for(:back)}= t('cancel')
							= f.submit t('devise.registrations.update'), class: 'btn btn-primary'
				.span1
				.span1.visible-tablet
				.span5
					%h4= t('devise.omniauth.add_accounts')
					= render partial: 'devise/shared/omniauth_links'
					%br/
					%br/
					%br/
					%h4= t('devise.registrations.unhappy')
					= link_to t('devise.registrations.cancel_account'), registration_path(resource_name), :data => { :confirm => t('devise.registrations.yes_cancel') }, :method => :delete
		.pull-right.danger-text * required fields