- unless resource.errors.empty?
  .alert.alert-error
    = devise_error_messages!
    %a.close{ "data-dismiss" => 'alert'} &#215;
.well
  %h2= t('account_settings')
  %br/

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    %div
      #{f.label :username, class: 'inline'} *
      %br/
      = f.text_field :username

    %div
      = f.label :fullname
      = f.text_field :fullname

    %div
      = f.label :email
      = f.email_field :email

    %div= f.submit t('update'), class: 'btn'
    %br/

  %button.btn.btn-large= link_to t('back'), :back
  %br/
  %br/
  %br/
  %p
    = t('devise.registrations.unhappy')
    %br/
    = link_to t('devise.registrations.cancel_account'), registration_path(resource_name), :data => { :confirm => t('sure') }, :method => :delete