%h2 Edit your profile
%br/
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages! 

  %div
    = f.label :fullname 
    = f.text_field :fullname

  %div
    = f.label :email
    = f.email_field :email

  - if f.object.encrypted_password.present? 
    %div
      = f.label :password 
      %i (leave blank if you don't want to change it
      %br/
      = f.password_field :password, :autocomplete => "off"

    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    %div
      = f.label :current_password 
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password
  
  %div= f.submit "Update"

- unless current_user.authentifications.empty?
  %h3 Social networks:
  - current_user.authentifications.each do |authentification|
    = image_tag "#{authentification.provider}.png", :title => authentification.provider
    = link_to 'Delete', authentification_path(authentification), :confirm => 'Are you sure?', :method => :delete

  - unless current_user.has_provider?('facebook')
    = link_to image_tag 'facebook2.png', :title => 'Link your Facebook account'
  - unless current_user.has_provider?('linkedin')
    = link_to image_tag 'linkedin2.png', :title => 'Link your Linkedin account'
  - unless current_user.has_provider?('twitter')
    = link_to image_tag 'twitter2.png', :title => 'Link your Twitter account'
  - unless current_user.has_provider?('google')
    = link_to image_tag 'google.png', :title => 'Link your Google+ account'
%br/
%br/
%h3 Cancel my account
%p
  Unhappy? 
  = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

= link_to "Back", :back