.row-fluid.devise
  .span12
    .header
      %h1=t 'devise.registrations.new.account_info'
    .row-fluid
      .span4.hidden-phone
      .span4
        .well
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            %label.inline=t 'devise.registrations.fullname'
            %span.danger-text *
            %br/
            = f.text_field :fullname, class: 'span12'
            %br/
            %label.inline=t 'devise.registrations.username'
            %span.danger-text *
            %br/
            = f.text_field :username, class: 'span12'
            %br/
            %label.inline=t 'devise.registrations.email'
            %span.danger-text *
            %br/
            = f.email_field :email, class: 'span12'
            %br/
            - unless session[:auth_hash]
              %label.inline=t 'devise.registrations.password'
              %span.danger-text *
              %br/
              = f.password_field :password, class: 'span12'
              %br/
              %label.inline=t 'devise.registrations.password_confirmation'
              %span.danger-text *
              %br/
              = f.password_field :password_confirmation, class: 'span12'
              %br/
            = f.submit t('devise.registrations.sign_up'), class: 'btn btn-primary'
        .pull-right.danger-text * #{t('required_fields')}

- if params[:mixpanel_social_signin]
  = mixpanel_call('track', 'Viewed signup form', "{'Signup type': 'Social'}")
- elsif !params[:mixpanel_social_signin] && session[:auth_hash].nil?
  = mixpanel_call('track', 'Viewed signup form', "{'Signup type': 'Manual'}")
