- unless resource.errors.empty?
  .alert.alert-error
    = devise_error_messages!
    %a.close{href: '#', "data-dismiss" => 'alert'} &nbsp;
.row.devise
  .span8.offset2
    .well
      .row
        .span3
          %h1= t('devise.registrations.create_joblr_account')
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            %small= t('devise.registrations.fullname')
            %span.danger-text *
            = f.text_field :fullname
            %small= t('devise.registrations.username')
            %span.danger-text *
            = f.text_field :username
            %br/
            %small= t('devise.registrations.password')
            %span.danger-text *
            = f.password_field :password
            %br/
            %small= t('devise.registrations.password_confirmation')
            %span.danger-text *
            = f.password_field :password_confirmation
            .buttons
              %a.btn{href: url_for(:back)}= t('cancel')
              = f.submit t('devise.registrations.sign_up'), class: 'btn btn-primary', name: 'user[commit]'
        .span3.offset1
          %h4= t('devise.registrations.skip_and_signin')
          = render partial: 'devise/shared/omniauth_links'
          %br/
          %br/
          %br/
          %h4= t('devise.registrations.didnt_mean_to')
          = render partial: 'devise/shared/links'
    .pull-right.danger-text * required fields