- devise_error_messages! unless resource.errors.empty?

.row-fluid.devise
  .span2.hidden-phone
  .span8
    .header
      %h1=t 'devise.registrations.new.welcome'
      .lead=t 'devise.registrations.new.choose'
    .well
      .row-fluid
        .span7#social
          %h3=t 'devise.registrations.new.social'
          .big=t 'devise.registrations.new.convenient'
          = render 'devise/shared/omniauth_links', user: resource, size: 'btn-large'
          %p=t 'devise.registrations.new.no_worries'
        .span1
        .span1.visible-phone
        .span4#joblr
          %h3=t 'devise.registrations.new.joblr'
          %br/
          .hidden-phone
            %br/
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            %small=t 'devise.registrations.fullname'
            %span.danger-text *
            %br/
            = f.text_field :fullname, class: 'span4'
            %small=t 'devise.registrations.username'
            %span.danger-text *
            %br/
            = f.text_field :username, class: 'span4'
            %small=t 'devise.registrations.password'
            %span.danger-text *
            %br/
            = f.password_field :password, class: 'span4'
            %small=t 'devise.registrations.password_confirmation'
            %span.danger-text *
            %br/
            = f.password_field :password_confirmation, class: 'span4'
            = f.submit t('devise.registrations.sign_up'), class: 'btn btn-primary'
    .pull-right.danger-text * required fields

= kiss_event('record', 'Viewed sign up page') unless flash[:error]
