%head
  %link{rel: 'stylesheet', type: 'text/css', href: '/assets/application.css'}

%body#email
  .container
    .well#profile
      = render 'users/show_identity',             user: @user
      = render 'users/show_experience_education', user: @user
      = render 'users/show_skills',               user: @user
      = render 'users/show_qualities',            user: @user
      = render 'users/show_more',                 user: @user