<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%=t 'mailers.user.share_profile.html.title', fullname: @user.fullname %></title>
    <link href="mailers/user_mailer/share_profile.css" rel="stylesheet" media="all" type="text/css" />
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>

      <!-- Background table -->
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="background-table">
        <tr>
          <td align="center" valign="top">

            <!-- Container table -->
            <table border="0" cellpadding="0" cellspacing="0" id="container-table">
              <tr>
                <td align="center" valign="top" width="600">

                  <!-- Header table -->
                  <table border="0" cellpadding="0" cellspacing="0" id="header-table">
                    <tr>
                      <td align="center" valign="bottom" height="54" width="560">
                        <p class="graylight-text"><%=t 'mailers.user.share_profile.html.header' %> <a href="#"><span>Joblr.co</span></a></p>
                      </td>
                    </tr>
                  </table>
                  <!-- End of header table -->

                </td>
              </tr>
              <tr>
                <td align="center" valign="top">

                  <!-- Body table -->
                  <table border="0" cellpadding="20" cellspacing="0" id="body-table">
                    <tr>
                      <td align="center" valign="top" width="560">

                        <!-- Message table -->
                        <table border="0" cellpadding="10" cellspacing="0" id="message-table">
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Text table -->
                              <table border="0" cellpadding="0" cellspacing="0" id="text-table">
                                <tr>
                                  <td align="left" valign="top" width="480">
                                    <h1><%= @email_sharing.text %></h1>
                                  </td>
                                </tr>
                              </table>
                              <!-- Enf of text table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="480">

                              <!-- Identity table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="identity-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Identity content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="identity-content">
                                      <tr>
                                        <td align="left"  valign="top" width="90">
                                          <img src="https://si0.twimg.com/profile_images/2030553072/twitter_reasonably_small.jpg" alt="image picture" height="70" width="70" />
                                        </td>
                                        <td align="left" valign="top" width="390">
                                          <h2><%= @user.fullname %></h2>
                                          <% unless @user.city.blank? && @user.country.blank? %>
                                            <p class="graylight-text"><%= "#{@user.city}#{', ' unless @user.city.blank? || @user.country.blank?}#{@user.country}" %></p>
                                          <% end %>
                                          <p class="info-text"><%=t "users.show.headline.#{@user.profile.headline}" %></p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of identity content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of identity table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="480">

                              <!-- Buttons table -->
                              <table border="0" cellpadding="0" cellspacing="0" id="buttons-table">
                                <tr>
                                  <td align="left" valign="middle" height="110" width="200">

                                    <!-- Button left table -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="button-left-table">
                                      <tr>
                                        <td align="center" valign="middle" height="50" width="170">
                                          <a href="mailto:<%= @user.email %>"><span><%=t 'mailers.user.share_profile.html.lets_talk' %></span></a>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of button left table -->

                                  </td>
                                  <td align="right" valign="middle" height="110" width="280">

                                    <!-- Button right table -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="button-right-table">
                                      <tr>
                                        <td align="left" valign="middle" width="280">
                                          <a href="#"><span><%=t 'mailers.user.share_profile.html.no_thanks' %></span></a>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of right left table -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of buttons table -->

                            </td>
                          </tr>
                        </table>
                        <!-- End of message table -->

                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" width="560">

                        <!-- Profile table -->
                        <table border="0" cellpadding="0" cellspacing="0" id="profile-table">
                          <tr>
                            <td align="center" valign="top" width="480">

                              <!-- More about table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="more-about-table">
                                <tr>
                                  <td align="left" valign="bottom" height="75" width="480">
                                    <h2><%=t 'mailers.user.share_profile.html.more_about', fullname: @user.fullname %></h2>
                                  </td>
                                </tr>
                              </table>
                              <!-- End of more about table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Experience table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="experience-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Experience content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="experience-content">
                                      <tr>
                                        <td align="left" valign="top" width="120">

                                          <!-- Experience in years -->
                                          <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td align="left" valign="top" width="90">
                                                <h4><%=t 'mailers.user.share_profile.html.experience' %></h4>
                                                <p class="lead"><%=t 'mailers.user.share_profile.html.yrs', count: @user.profile.experience %></p>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>

                                        <td align="left" valign="top" width="360">
                                          <% unless @user.profile.last_job.blank? %>
                                            <h4><%=t 'mailers.user.share_profile.html.last_job' %></h4>
                                            <p class="lead"><%= @user.profile.last_job %></p>
                                            <% unless @user.profile.past_companies.blank? %>
                                              <p class="past-companies">
                                                <%=t 'mailers.user.share_profile.html.also_worked_for_html', past_companies: @user.profile.past_companies %>
                                              </p>
                                            <% end %>
                                          <% else %>
                                            <h4><%=t 'mailers.user.share_profile.html.education' %></h4>
                                            <p class="lead"><%= @user.profile.education %></p>
                                          <% end %>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of experience content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of experience table -->

                            </td>
                          </tr>
                          <% unless @user.profile.last_job.blank? %>
                            <tr>
                              <td align="center" valign="top" width="560">

                                <!-- Education table -->
                                <table border="0" cellpadding="10" cellspacing="0" id="education-table">
                                  <tr>
                                    <td align="center" valign="top" width="560">

                                      <!-- Education content -->
                                      <table border="0" cellpadding="0" cellspacing="0" class="education-content">
                                        <tr>
                                          <td align="left" valign="top" width="480">
                                            <h4><%=t 'mailers.user.share_profile.html.education' %></h4>
                                            <p class="lead"><%= @user.profile.education %></p>
                                          </td>
                                        </tr>
                                      </table>
                                      <!-- End of education content -->

                                    </td>
                                  </tr>
                                </table>
                                <!-- End of education table -->

                              </td>
                            </tr>
                          <% end %>
                          <% unless @user.profile.skill_1.blank? && @user.profile.skill_2.blank? && @user.profile.skill_3.blank? %>
                            <tr>
                              <td align="center" valign="top" width="560">

                                <!-- Skills table -->
                                <table border="0" cellpadding="10" cellspacing="0" id="skills-table">
                                  <tr>
                                    <td align="center" valign="top" width="560">

                                      <!-- Skills content -->
                                      <table border="0" cellpadding="0" cellspacing="0" class="skills-content">
                                        <tr>
                                          <td align="left" valign="top" width="480">
                                            <h4><%=t 'mailers.user.share_profile.html.skills' %></h4>
                                            <% unless @user.profile.skill_1.blank? %>
                                              <p class="lead"><%= @user.profile.skill_1 %></p>
                                            <% end %>
                                            <% unless @user.profile.skill_2.blank? %>
                                              <p class="lead"><%= @user.profile.skill_2 %></p>
                                            <% end %>
                                            <% unless @user.profile.skill_3.blank? %>
                                              <p class="lead"><%= @user.profile.skill_3 %></p>
                                            <% end %>
                                          </td>
                                        </tr>
                                      </table>
                                      <!-- End of skills content -->

                                    </td>
                                  </tr>
                                </table>
                                <!-- End of skills table -->

                              </td>
                            </tr>
                          <% end %>
                          <% unless @user.profile.quality_1.blank? && @user.profile.quality_2.blank? && @user.profile.quality_3.blank? %>
                            <tr>
                              <td align="center" valign="top" width="560">

                                <!-- Qualities table -->
                                <table border="0" cellpadding="10" cellspacing="0" id="qualities-table">
                                  <tr>
                                    <td align="center" valign="top" width="560">

                                      <!-- Qualities content -->
                                      <table border="0" cellpadding="0" cellspacing="0" class="qualities-content">
                                        <tr>
                                          <td align="left" valign="top" width="480">
                                            <h4><%=t 'mailers.user.share_profile.html.qualities' %></h4>
                                            <% unless @user.profile.quality_1.blank? %>
                                              <p class="lead"><%= @user.profile.quality_1 %></p>
                                            <% end %>
                                            <% unless @user.profile.quality_2.blank? %>
                                              <p class="lead"><%= @user.profile.quality_2 %></p>
                                            <% end %>
                                            <% unless @user.profile.quality_3.blank? %>
                                              <p class="lead"><%= @user.profile.quality_3 %></p>
                                            <% end %>
                                          </td>
                                        </tr>
                                      </table>
                                      <!-- End of qualities content -->

                                    </td>
                                  </tr>
                                </table>
                                <!-- End of qualities table -->

                              </td>
                            </tr>
                          <% end %>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- More table -->
                              <table border="0" cellpadding="20" cellspacing="0" id="more-table">
                                <tr>
                                  <td align="left" valign="top" height="33" width="480">
                                    <a href="http://<%= @user.subdomain %>.joblr.co"><span><%=t 'mailers.user.share_profile.html.view_complete_profile', fullname: @user.fullname %></span></a>
                                  </td>
                                </tr>
                              </table>
                              <!-- End of more table -->

                            </td>
                          </tr>
                        </table>
                        <!-- End of profile table -->

                      </td>
                    </tr>
                  </table>
                  <!-- End of body table -->

                </td>
              </tr>
              <tr>
                <td align="center" valign="top" width="560">

                  <!-- Footer table -->
                  <table border="0" cellpadding="10" cellspacing="0" id="footer-table">
                    <tr>
                      <td align="center" valign="top" height="87" width="560">
                        <img src="http://joblr.co/logo.gif" alt="Joblr.co" height="37" width="124" />
                      </td>
                    </tr>
                  </table>
                  <!-- End of footer table -->

                </td>
              </tr>
            </table>
            <!-- End of container table -->

          </td>
        </tr>
      </table>
      <!-- End of background table -->

    </center>
  </body>
</html>
