= t('user_mailer.text_email.content', fullname: "#{@user.fullname}")
%br/
= "http://#{@user.subdomain}.joblr.co"
%br/
= t('user_mailer.text_email.regards')
%br/
= t('user_mailer.text_email.joblr_team')