- %w(linkedin twitter facebook google_oauth2).each do |provider|
  - if user_signed_in? && auth = user.auth(provider)
    - button = "<i class='icon-#{provider.to_s.gsub('_oauth2','-plus')}'></i>&nbsp;&nbsp;#{provider.to_s.split('_')[0].titleize}"
    = link_to button.html_safe, authentication_path(auth), method: :delete, title: t('devise.omniauth.remove_account', provider: "#{provider.to_s.split('_')[0].titleize}"), class: "btn #{size} btn-#{provider.to_s.split('_')[0]} active"
  - else
    - button = "<i class='icon-#{provider.to_s.gsub('_oauth2','-plus')}'></i>&nbsp;&nbsp;#{provider.to_s.split('_')[0].titleize}"
    = link_to button.html_safe, omniauth_authorize_path(user, provider), title: t('devise.omniauth.add_account', provider: "#{provider.to_s.split('_')[0].titleize}"), class: "btn #{size} btn-#{provider.to_s.split('_')[0]}"
