.row
  .span5.offset2
    .well#profile
      = render 'users/show_identity',             user: @user
      = render 'users/show_experience_education', user: @user
      = render 'users/show_skills',               user: @user
      = render 'users/show_qualities',            user: @user
      = render 'users/show_more',                 user: @user

  .span4.offset1#sharing
    .arrow-left
    .well
      - unless params[:provider]
        = form_for @sharing do |f|
          .row
            .span3
              %label
                = t('sharings.fullname_label')
              %input{type: 'text', name: 'fullname', class: 'input-medium'}
              %br/
              %label
                = t('sharings.email_label')
              %input{type: 'text', name: 'email', class: 'input-medium'}
          .row
            .span3
              %label
                = t('sharings.text_label')
              = f.text_area :text, rows: 3, placeholder: t('sharings.email_text')
              = f.hidden_field :author_id, value: @user.id
              %br/
              %br/
              %a= link_to t('cancel'), @user, class: 'btn'
              = f.submit t('send'), class:'btn btn-primary'
      - else
        = form_for @sharing, url: { action: params[:provider], controller: 'sharings' } do |f|
          .row
            .span3
              %label
                = t('sharings.text_label')
              = f.text_area :text, rows: 3, placeholder: t('sharings.social_text')
              = f.hidden_field :user_id, value: @user.id
              %br/
              %br/
              %a= link_to t('cancel'), @user, class: 'btn'
              = f.submit t('share_on', provider: 'LinkedIn'), class:'btn btn-primary'