.span3.hidden-phone
.span5.sharing
  .row-fluid
    .span12
      = form_for @sharing do |f|
        .row-fluid.hidden
          .span2
            %small=t 'sharings.new.from_label'
            %span.danger-text= link_to '*', '#required'
          .span5
            %input.span5{type: 'text', name: 'from_fullname', placeholder: t('sharings.new.from_fullname_placeholder')}
          .span5
            %input.span5{type: 'text', name: 'from_email', placeholder: t('sharings.new.from_email_placeholder')}
        .row-fluid
          .span2
            %small=t 'sharings.new.to_label'
            %span.danger-text= link_to '*', '#required'
          .span5
            %input.span5{type: 'text', name: 'to_fullname', placeholder: t('sharings.new.to_fullname_placeholder')}
          .span5
            %input.span5{type: 'text', name: 'to_email', placeholder: t('sharings.new.to_email_placeholder')}
        .well
          .row-fluid
            .span11
              %small= t 'sharings.new.text_label'
              %span.danger-text= link_to '*', '#required'
              %br/
              = f.text_area :text, rows: 3, placeholder: t('sharings.new.email_text'), class: 'lead'
              = f.hidden_field :author_id, value: @user.id
              %br/
              %br/
              %a= link_to t('cancel'), @user, class: 'btn'
              = f.submit t('sharings.new.send'), class:'btn btn-primary'
          .arrow-bottom
        .pull-right.danger-text * required fields
  .row-fluid
    .span12
      .well#profile
        = render 'users/show_identity',             user: @user
        = render 'users/show_experience_education', user: @user
        = render 'users/show_skills',               user: @user
        = render 'users/show_qualities',            user: @user
        = render 'users/show_more',                 user: @user
.span2
.span2.sharing= render 'new_buttons',               user: @user