.span3.hidden-phone
.span5
  .row-fluid
    .span12
      .well#sharing
        = form_for @sharing do |f|
          .row-fluid
            .span11
              %small= t 'sharings.fullname_label'
              %span.danger-text= link_to '*', '#required'
              %br/
              %input{type: 'text', name: 'fullname', class: 'input-medium'}
              %br/
              %small= t 'sharings.email_label'
              %span.danger-text= link_to '*', '#required'
              %br/
              %input{type: 'text', name: 'email', class: 'input-medium'}
          .row-fluid
            .span11
              %small= t 'sharings.text'
              %br/
              = f.text_area :text, rows: 3, placeholder: t('sharings.email_text')
              = f.hidden_field :author_id, value: @user.id
              %br/
              %br/
              %a= link_to t('cancel'), @user, class: 'btn'
              = f.submit t('sharings.send'), class:'btn btn-primary'
              .pull-right.danger-text * required fields
        .arrow-bottom
  .row-fluid
    .span12
      .well#profile
        = render 'users/show_identity',             user: @user
        = render 'users/show_experience_education', user: @user
        = render 'users/show_skills',               user: @user
        = render 'users/show_qualities',            user: @user
        = render 'users/show_more',                 user: @user