%table.table.table-striped
  %thead
    %tr
      %td
        %h5 Requested
      %td
        %h5 Email
      %td
        %h5 Used
      %td
        %h5 Actions
  %tbody
    - @invite_emails.each do |invite_email|
      %tr
        %td
          = invite_email.created_at.to_formatted_s :short
        %td
          = invite_email.recipient_email
        %td
          %span{class: "#{invite_email.used? ? 'success-text' : 'danger-text'}"}= invite_email.used?
        %td.actions
          - unless invite_email.sent?
            = link_to "<div class='icon-envelope graydark-text'></div>".html_safe, "/invite_emails/#{invite_email.id}/send_code", data: {confirm: t('invite_emails.send_code.yes_send', email: invite_email.recipient_email)}
          - else
            %a
              .icon-envelope.graylight-text
          = link_to "<div class='icon-trash danger-text'></div>".html_safe, invite_email, method: :delete, confirm: t('invite_emails.destroy.yes_delete')