.span3.hidden-phone
.span6
  .row-fluid
    .well#invite-email
      %h1=t '.title'
      .lead=t '.subtitle'
      %p
        = link_to t('.link'), new_invite_email_path
      = form_for @invite_email do |f|
        = f.text_field :code, placeholder: t('.placeholder'), value: (params[:code] unless params[:code].nil?)
        .hidden-desktop
          %br/
        = f.submit t('.button'), class: 'btn btn-small btn-primary'
      %br/
      %br/
      .danger-text=t '.asterisk'

= mixpanel_event('Viewed use invite page')