.span3.hidden-phone
.span6
  .row-fluid
    .well#invite-email
      %h1=t '.title'
      .lead=t '.subtitle_html'
      = form_for @invite_email do |f|
        = f.text_field :recipient_email, placeholder: t('.placeholder')
        .hidden-desktop
          %br/
        = f.submit t('.button'), class: 'btn btn-small btn-primary'

- if flash[:error].nil?
  = mixpanel_call('track', 'Viewed email invitation page')
- else
  = mixpanel_call('track', 'Failed to fill email invitation form', "{'Invitation email':'#{@invite_email.recipient_email}'}")