%table.table.table-striped
  %thead
    %tr
      .span1
        %td{style: 'text-align:left'}
          %h5 Date
      .span1
        %td{style: 'text-align:left'}
          %h5 Email
      .span1
        %td
          %h5 Used
      .span1
        %td
          %h5 Full name
      .span1
        %td
          %h5 Username
      .span1
        %td
          %h5 Signed up
      .span1
        %td
          %h5 Delete
      .span1
        %td{style: 'text-align:right'}
          %h5 Email
  %tbody
    - @beta_invites.each do |beta_invite|
      %tr
        .span1
          %td{style: 'text-align:left'}
            = beta_invite.created_at
        .span1
          %td{style: 'text-align:left'}
            = beta_invite.email
        .span1
          %td
            %span{class: "#{beta_invite.used? ? 'success-text' : 'danger-text'}"}= beta_invite.used?
        .span1
          %td
            = beta_invite.user.fullname if beta_invite.used?
        .span1
          %td
            = beta_invite.user.username if beta_invite.used?
        .span1
          %td
            - if beta_invite.used?
              %span{class: "#{signed_up?(beta_invite.user) ? 'success-text' : 'danger-text'}"}= signed_up?(beta_invite.user)
        .span1
          %td
            = link_to "<div class='icon-trash danger-text'></div>".html_safe, beta_invite, method: :delete, confirm: t('beta_invites.destroy.yes_delete')
        .span1
          %td{style: 'text-align:right'}
            - unless beta_invite.sent?
              = link_to "<div class='icon-envelope'></div>".html_safe, "/beta_invites/#{beta_invite.id}/send_code", data: {confirm: t('beta_invites.send_code.yes_send', email: beta_invite.email)}, class: 'danger-text'
            - else
              .icon-envelope.success-text