%table.table.table-striped.table-hover
  %thead
    %tr
      %td.span1{style: 'text-align:left'}
        %h5 Date
      %td.span2
        %h5 Email
      %td.span1
        %h5 Used
      %td.span2
        %h5 Full name
      %td.span2
        %h5 Username
      %td.span1
        %h5 Signed up
      %td.span1
        %h5 Delete
      %td.span1{style: 'text-align:right'}
        %h5 Email
  %tbody
    - @beta_invites.each do |beta_invite|
      %tr
        %td.span1{style: 'text-align:left'}
          %p= beta_invite.created_at.to_s[0..9]
        %td.span2
          %p= beta_invite.email
        %td.span1
          %span{class: "#{beta_invite.used? ? 'success-text' : 'danger-text'}"}= beta_invite.used?
        %td.span2
          %p= beta_invite.user.fullname if beta_invite.used?
        %td.span2
          %p= beta_invite.user.username if beta_invite.used?
        %td.span1
          - if beta_invite.used?
            %span{class: "#{signed_up?(beta_invite.user) ? 'success-text' : 'danger-text'}"}= signed_up?(beta_invite.user)
        %td.span1
          = link_to "<div class='icon-trash'></div>".html_safe, beta_invite, method: :delete, confirm: t('beta_invites.destroy.yes_delete'), class: 'danger-text'
        %td.span1{style: 'text-align:right'}
          - unless beta_invite.used? || beta_invite.sent?
            = link_to "<div class='icon-envelope'></div>".html_safe, "/beta_invites/#{beta_invite.id}/send_code", confirm: t('beta_invites.send_code.yes_send', email: beta_invite.email), class: 'danger-text'
          - else
            .success-text sent