.row
  .span6.offset3
    .row
      .well{style: 'text-align:center'}
        %h1=t '.title'
        %br/
        %br/
        %br/
        .lead=t '.subtitle_html'
        %p.error-text{style: 'margin-bottom:0'}=t '.asterisk'
        %br/
        %br/
        %br/
        = form_for @beta_invite do |f|
          .input-append
            = f.text_field :code, placeholder: t('.placeholder'), value: ''
            = f.submit t('.button'), class: 'btn btn-primary'

        %br/
        = link_to t('.link'), new_beta_invite_path
        %br/

      - if Rails.env.development?
        %p
          =t '.development'
          = link_to t('devise.registrations.sign_up').downcase, new_user_registration_url(subdomain:false)