.span3.hidden-phone
.span6
  .row-fluid
    .well{style: 'text-align:center'}
      %h1=t '.title'
      %br/
      %br/
      %br/
      .lead=t '.subtitle_html'
      %p
        .danger-text{style: 'margin-bottom:0'}=t '.asterisk'
      %br/
      %br/
      %br/
      = form_for @beta_invite do |f|
        .input-append.hidden-phone
          = f.text_field :email, placeholder: t('.placeholder')
          = f.submit t('.button'), class: 'btn btn-small btn-primary'
        .visible-phone
          = f.text_field :email, placeholder: t('.placeholder')
          = f.submit t('.button'), class: 'btn btn-small btn-primary'