%table.table.table-striped
  %thead
    %tr
      %td
        %h5 Signed up
      %td
        %h5 Full name
      %td
        %h5 Last signed in
      %td
        %h5 Count
      %td
        %h5 Profile
      %td
        %h5 Applications
      %td
        %h5 Shared
      %td
        %h5 Actions
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.created_at.strftime '%d-%m-%Y'
        %td
          = user.fullname
        %td
          = "#{time_ago_in_words(user.last_sign_in_at)} ago" unless user.last_sign_in_at.nil?
        %td
          = user.sign_in_count
        %td
          %span{class: "#{signed_up?(user) ? 'success-text' : 'danger-text'}"}= signed_up?(user)
        %td
          - unless user.profile.nil?
            - application_emails = ProfileEmail.where(author_id: user.id, profile_id: user.profile.id).count
            - if application_emails > 0
              .success-text= application_emails
            - else
              .danger-text 0
          - else
            n/a
        %td
          - unless user.profile.nil?
            - all_profile_emails = ProfileEmail.where(profile_id: user.profile.id).count
            - if all_profile_emails > 0
              .success-text= all_profile_emails
            - else
              .danger-text 0
          - else
            n/a
        %td.actions
          - unless user.profile.nil?
            %a{href: "#profile-modal-#{user.id}", 'data-toggle' => 'modal'}
              .icon-eye-open.graydark-text
          = link_to "<div class='icon-trash danger-text'></div>".html_safe, user, method: :delete, data: {confirm: t('users.destroy.yes_delete')}

- @users.each do |user|
  - unless user.profile.nil?
    .modal.profile.hide{id: "profile-modal-#{user.id}"}
      %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
      .modal-body
        = render 'users/show_profile', user: user
