.row-fluid.identity
  .span3
    %a{href: '#image-modal', 'data-toggle' => 'modal'}
      - if @user.social? && !signed_up?(@user)
        = image_tag (@user.authentications.first.image_url(:thumb).blank? ? 'default_user.jpg' : @user.authentications.first.image_url(:thumb)), id: 'profile-picture'
      - else
        = image_tag (@user.image.blank? ? 'default_user.jpg' : @user.image_url(:thumb).to_s), id: 'profile-picture'
    = render 'image_modal', f: f
  .span9
    .hidden-desktop
      %br/
    %label.inline=t 'users.edit.fullname'
    %span.danger-text *
    %br/
    = f.text_field :fullname, value: field_value(:fullname, @linkedin), placeholder: t('users.edit.fullname_placeholder')
    %br/
    %label=t 'users.edit.location_label'
    = f.text_field :city,    value: field_value(:city,    @linkedin), placeholder: t('users.edit.city_placeholder'),    class: 'input-small'
    = f.text_field :country, value: field_value(:country, @linkedin), placeholder: t('users.edit.country_placeholder'), class: 'input-small'
