.row
  .span1
    %a{href: '#image-modal', 'data-toggle' => 'modal'}
      = image_tag (@user.image.blank? ? 'default_user.jpg' : @user.image_url(:thumb).to_s)
    = render 'image_modal', f: f
  .span3
    = f.text_field :fullname, value: field_value(:fullname, @linkedin), placeholder: t('users.edit.fullname_placeholder')
    %span.danger-text= link_to '*', '#required'
    %br/
    %small=t 'users.edit.location'
    %br/
    = f.text_field :city,    value: field_value(:city,    @linkedin), placeholder: t('users.edit.city_placeholder'),    class: 'input-small'
    = f.text_field :country, value: field_value(:country, @linkedin), placeholder: t('users.edit.country_placeholder'), class: 'input-small'
    %input{ type: 'hidden', name: 'user[password]' }