.row-fluid
  .span12
    %h4=t 'users.edit.social_profiles'
    = render 'shared/omniauth_links', user: @user
.row-fluid
  .span12
    %h4=t 'users.edit.upload_cv'
    - unless @user.profile.file.nil? || @user.profile.file.blank?
      .delete.grey-text
        =t 'delete'
        = link_to @user.profile.file_identifier, @user.profile.file_url
      &nbsp;
      = f.check_box :remove_file
      %br/
    = f.file_field :file
.row-fluid
  .span12
    %h4=t 'users.edit.url'
    = f.text_field :url, value: field_value(:url, @linkedin), placeholder: 'http://', class: 'url'