.row-fluid
  .span7
    %h4
      =t 'users.edit.online_presence'
      %a.help{rel:'popover', 'data-content' => t('users.edit.online_popover'), 'data-original-title' => t('users.edit.online_presence')}
        .icon-question-sign
    %small=t 'users.edit.url'
    %br/
    = f.text_field :url, value: field_value(:url, @linkedin), placeholder: 'http://', class: 'url', class: 'span12'
#social-urls= render 'edit_social_urls', f: f

.row-fluid
  .span12
    %h4=t 'users.edit.upload_cv'
    - unless @user.profile.file.nil? || @user.profile.file.blank?
      .delete.grey-text
        =t 'delete'
        = link_to @user.profile.file_identifier, @user.profile.file_url
      &nbsp;
      = f.check_box :remove_file
      %br/
    = f.file_field :file