= render 'fields_headline_experience', f: f
= render 'fields_education_skills',    f: f
= render 'fields_qualities',           f: f
= render 'fields_more',                f: f

.hidden
  = f.text_field :text, value: field_value(:text, @linkedin)
  = f.submit t('users.edit.save'), class: 'btn btn-large btn-primary'