= render 'fields_experience', 			f: f
= render 'fields_education_skills', f: f
= render 'fields_qualities',        f: f
= render 'fields_more',             f: f

.hidden
  = f.submit t('users.edit.save'), id: 'hidden-submit'