= f.text_field :experience
%br/
= f.text_field :education
%br/
= f.text_field :skill_1
= f.text_field :skill_1_level
%br/
= f.text_field :skill_2
= f.text_field :skill_2_level
%br/
= f.text_field :skill_3
= f.text_field :skill_3_level
%br/
= f.text_field :quality_1
%br/
= f.text_field :quality_2
%br/
= f.text_field :quality_3