.row-fluid.identity
  .span3.visible-desktop
  .span9
    %small=t 'users.edit.headline'
    %span.danger-text= link_to '*', '#required'
    %a.help{rel:'popover', 'data-content' => t('users.edit.headline_popover'), 'data-original-title' => t('users.edit.headline')}
      %i.icon-question-sign
    %br/
    = f.select :headline, headline_options, {selected: (t("users.show.headline.#{field_value(:headline, @linkedin)}") unless field_value(:headline, @linkedin).blank?)}

.row-fluid.experience
  .span12
    %h4
      =t 'users.edit.experience'
      %a.help{rel:'popover', 'data-content' => t('users.edit.experience_popover'), 'data-original-title' => t('users.edit.  experience')}
        %i.icon-question-sign
    .row-fluid
      .span3
        %small=t 'users.edit.experience_label'
        %span.danger-text= link_to '*', '#required'
        %br/
        = f.text_field :experience, value: field_value(:experience, @linkedin), placeholder: t('users.edit.experience_placeholder'), class: 'input-mini'
      .span9
        .hidden-desktop
          %br/
        %small=t 'users.edit.last_job'
        %br/
        = f.text_area :last_job, value: field_value(:last_job, @linkedin), placeholder: t('users.edit.last_job_placeholder'), rows: 3, class: 'big'
        %p
          %small=t 'users.edit.past_companies'
          %br/
          = f.text_field :past_companies, value: field_value(:past_companies, @linkedin), placeholder: t('users.edit.past_companies_placeholder'), class: 'input-slim'