#more-about
  .row-fluid
    .span7
      %h4=t 'users.edit.online_presence_label'
      %label=t 'users.edit.url'
      = f.text_field :url, value: field_value(:url, @linkedin), placeholder: 'http://', class: 'url span11'
      %br/
  = render 'edit_social_urls', f: f

  .row-fluid
    .span12
      %h4=t 'users.edit.upload_cv'
      - unless @user.profile.file.nil? || @user.profile.file.blank?
        .danger-text
          #{t('users.edit.delete')} (#{link_to @user.profile.file_identifier, @user.profile.file_url, target: '_blank'})
        &nbsp;
        = f.check_box :remove_file
        %br/
      = f.file_field :file