.row
  .span1.well{style:'padding:14px'}
    %h6 Experience
    =f.text_field :experience, style: 'height:30px; width:40px; margin-bottom:0; font-size:30px; font-weight:bold'
    %h2 yrs
  .span3.well{style:'padding:14px'}
    %h6 Highest Education
    =f.text_area :education, rows:2, style:'margin-bottom:12px; width:240px;', class:'lead'
    %br/

.row
  .span4.well{style: 'padding-bottom:14px'}
    %h6 Skills
    .row
      .span2= f.text_field :skill_1, style: 'font-size:15px'
      .span1= f.select :skill_1_level, %w(Beginner Intermediate Advanced Expert), {prompt: 'Select'}, { class: 'select-level'}
      .span2= f.text_field :skill_2, style: 'font-size:15px'
      .span1= f.select :skill_2_level, %w(Beginner Intermediate Advanced Expert), {prompt: 'Select'}, { class: 'select-level' }
      .span2= f.text_field :skill_3, style: 'font-size:15px'
      .span1= f.select :skill_3_level, %w(Beginner Intermediate Advanced Expert), {prompt: 'Select'}, { class: 'select-level' }

.row
  .span4.well{style:'padding-bottom:6px'}
    %h6 Qualities
    .lead
      .row
        .span3= f.text_field :quality_1, style:'font-size:15px'
      .row
        .span3= f.text_field :quality_2, style:'font-size:15px'
      .row
        .span3= f.text_field :quality_3, style:'font-size:15px'

.row{style:'margin:19px 0 0 -25px'}
  .span4{style:'margin-left:0'}
    %h6{style:'margin-bottom:10px'} Social profiles
    = render 'shared/auth_links', user: @user

.row{style:'margin:19px 0 0 -25px'}
  .span4{style:'margin-left:0'}
    %h6{style:'margin-bottom:5px'} Upload your CV
    - unless @user.profile.file.nil? || @user.profile.file.blank?
      .danger.inline{style:'margin-bottom:5px'} delete #{link_to @user.profile.file_identifier, @user.profile.file_url, style:'text-decoration:underline'}
      &nbsp;
      = f.check_box :remove_file
      %br/
    = f.file_field :file

.row{style:'margin:19px 0 0 -25px'}
  .span4{style:'margin-left:0'}
    %h6{style:'margin-bottom:10px'} Website or blog
    = f.text_field :url, placeholder:'http://', class:'input-medium'

.row{style:'margin-left:0'}
  .span5.offset6{style:'margin-top:-700px'}
    = f.text_area :text, class:'lead', placeholder:'Describe your goals, or your motto.', rows:4, style:'width:450px;'
    .pull-right= f.submit (signed_up?(@user) ? 'Save your profile' : 'Create your profile!'), class:'btn btn-gigantic btn-primary'