#image-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3 Select or upload a pic!

  .modal-body
    - unless @user.image.blank?
      .pull-right
        %h5{style:'margin-bottom:5px'} Current pic:
        .pull-right= image_tag @user.image_url(:thumb).to_s, class:'current pic'
        %br/
        .pull-right
          .danger.delete delete
          = f.check_box :remove_image

    %h5{style:'margin-bottom:5px'} Social profiles:
    - @user.authentifications.each do |auth|
      = link_to_function image_tag(image_url('thumb', auth.uid, auth.provider), class:'social pic', id:auth.uid),
                         "select_pic('#{auth.uid}', '#{image_url('original', auth.uid, auth.provider)}')"
    %br/
    %br/

    %h5 Upload:
    = f.file_field :image
    = f.hidden_field :remote_image_url, id:'remote_image_url'

  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Cancel
    %a.btn.btn-primary{href:'#', onclick:"$('#image-modal').modal('hide');"} OK
