#image-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3
      - if @user.authentifications.empty?
        =t 'users.image_modal.upload'
      - else
        =t 'users.image_modal.select_or_upload'

  .modal-body
    - unless @user.image.blank?
      .pull-right
        %h5{style:'margin-bottom:5px'}= "#{t('users.image_modal.current_pic')}#{t('punctuations.colon')}"
        .pull-right= image_tag @user.image_url(:thumb).to_s, class:'current pic'
        %br/
        .pull-right
          .danger-text= t('users.image_modal.delete')
          = f.check_box :remove_image

    - unless @user.authentifications.empty?
      %h5{style:'margin-bottom:5px'}= "#{t('users.edit.social_profiles')}#{t('punctuations.colon')}"
      - @user.authentifications.each do |auth|
        - unless auth.image_url.blank?
          = link_to image_tag(auth.image_url, class: 'social pic', id: "auth_#{auth.id}_image"), '#'
          .hidden{id: "auth_#{auth.id}_image_url"}= auth.image_url(:original)
      %br/
      %br/

    %h5= "#{t('upload')}#{t('punctuations.colon')}"
    = f.file_field :image
    = f.hidden_field :remote_image_url, id:'remote_image_url'

  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'}= t('cancel')
    %a.btn.btn-primary{href: '#', onclick: "$('#image-modal').modal('hide')"}= t('ok')
