#image-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3 Select or upload a pic!
  .modal-body
    - unless @user.image.blank?
      .pull-right
        %h5{style:'margin-bottom:5px'} Current pic:
        .pull-right= image_tag @user.image_url(:thumb).to_s, style:'width:50px; height:50px; margin-bottom:5px'
        %br/
        .pull-right
          .danger.delete delete
          = f.check_box :remove_image
    %h5{style:'margin-bottom:5px'} Social profiles:
    - @user.authentifications.each do |authentification|
      = link_to_function image_tag(image_url('thumb', authentification.uid,authentification.provider), style:'width:50px;height:50px;'), "select_pic('#{authentification.uid}','#{image_url('original',authentification.uid,authentification.provider)}')", class:'social-thumb', id: authentification.uid
    %br/
    %br/
    %h5 Upload:
    = f.file_field :image
    = f.text_field :remote_image_url, id: 'remote_image_url'
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#image-modal').modal('hide');"} Submit