#image-modal.modal.hide
  .modal-header
    %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
    %h3
      - if @user.authentications.empty? || @user.authentications.select{|a| !a.image_url.blank?}.empty?
        =t 'users.image_modal.upload_image'
      - else
        =t 'users.image_modal.select_or_upload'

  .modal-body
    - unless @user.image.blank?
      .pull-right
        %h5=t 'users.image_modal.current_pic'
        .pull-right= image_tag @user.image_url(:thumb).to_s, class: 'current pic'
        %br/
        %br/
        %br/
        .pull-right
          .danger-text=t 'users.image_modal.delete'
          = f.check_box :remove_image

    - unless @user.authentications.empty? || @user.authentications.select{|a| !a.image_url.blank?}.empty?
      %h5=t 'users.image_modal.social_accounts'
      - @user.authentications.each do |auth|
        - unless auth.image_url.blank?
          = link_to image_tag(auth.image_url, class: 'social pic', id: "auth_#{auth.id}_image"), '#'
          .hidden{id: "auth_#{auth.id}_image_url"}= auth.image_url(:original)

    %h5=t 'users.image_modal.upload'
    = f.file_field :image
    = f.hidden_field :remote_image_url, id: 'remote_image_url', value: (@user.authentications.first.image_url(:original) if @user.social? && !signed_up?(@user) && !@user.authentications.first.image_url(:original).blank?)

  .modal-footer
    %a.btn.btn-small{href:'#', 'data-dismiss' => 'modal'}= t('cancel')
    %a.btn.btn-small.btn-primary{href: '#'}= t('ok')
