%table.table.table-striped
  %thead
    %tr
      .span1
        %td{style: 'text-align:left'}
          %h5 Full name
      .span1
        %td{style: 'text-align:left'}
          %h5 Username
      .span1
        %td
          %h5 Signed in
      .span1
        %td
          %h5 Last signed in
      .span1
        %td
          %h5 Signed up
      .span1
        %td
          %h5 Shared by user
      .span1
        %td
          %h5 Shared by others
      .span1
        %td
          %h5 Services
      .span1
        %td
          %h5 Delete
  %tbody
    - @users.each do |user|
      %tr
        .span1
          %td{style: 'text-align:left'}
            = user.fullname
        .span1
          %td{style: 'text-align:left'}
            = user.username
        .span1
          %td
            = user.sign_in_count
        .span1
          %td
            = time_ago_in_words(user.last_sign_in_at).gsub('about', '') unless user.last_sign_in_at.nil?
        .span1
          %td
            %span{class: "#{signed_up?(user) ? 'success-text' : 'danger-text'}"}= signed_up?(user)
        .span1
          %td
            = user.authored_email_sharings.count
        .span1
          %td
            = user.profile.public_emails_sharings.count
        .span1
          %td
            = user.authentifications.count
        .span1
          %td
            = link_to "<div class='icon-trash danger-text'></div>".html_safe, user, method: :delete, confirm: t('users.destroy.yes_delete')