%table.table.table-striped
  %thead
    %tr
      %td
        %h5 Full name
      %td
        %h5 Signed up
      %td
        %h5 Signed in
      %td
        %h5 Completed profile
      %td
        %h5 Profile emails
      %td
        %h5 Actions
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.fullname
        %td
          = user.created_at.to_formatted_s :short
        %td
          = "#{time_ago_in_words(user.last_sign_in_at)} ago (#{user.sign_in_count} total)" unless user.last_sign_in_at.nil?
        %td
          %span{class: "#{signed_up?(user) ? 'success-text' : 'danger-text'}"}= signed_up?(user)
        %td
          - unless user.profile.nil?
            - user_profile_emails = ProfileEmail.where(author_id: user.id, profile_id: user.profile.id).count
            - if user_profile_emails > 0
              - all_profile_emails = ProfileEmail.where(profile_id: user.profile.id).count
              .success-text
                = "#{user_profile_emails} themselves (#{all_profile_emails} total)"
            - else
              .danger-text none
        %td.actions
          - unless user.profile.nil?
            %a{href: "#{user_path(user)}", target: '_blank'}
              .icon-eye-open.graydark-text
          = link_to "<div class='icon-trash danger-text'></div>".html_safe, user, method: :delete, data: {confirm: t('users.destroy.yes_delete')}