#profile-email-modal.modal.hide
  .modal-header
    %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
    %h3=t "profile_emails.new.modal_title.#{user_signed_in? ? (current_user == @user ? 'current_user' : 'other_user') : 'public_user'}"

  #profile-email-form
  = form_for @profile_email, remote: true do |f|
    .modal-body
      #profile-email-error
      = render 'profile_emails/new', f: f
    .modal-footer
      #loader.pull-left
        = image_tag 'base/loader.gif'
        = t('profile_emails.new.sending')
      %a.btn.btn-small{href:'#', 'data-dismiss' => 'modal'}= t('cancel')
      = f.submit t('profile_emails.new.send'), class: 'btn btn-small btn-primary'