.row-fluid.identity{id:"user-#{user.id}"}
  .span3= image_tag (user.image.blank? ? 'default_user.jpg' : user.image_url(:thumb).to_s)
  .span9
    .hidden-desktop
      %br/
    %h2= user.fullname
    .big
      - unless user.city.blank? && user.country.blank?
        .graylight-text
          .icon-map-marker
          &nbsp;
          #{user.city}#{', ' unless user.city.blank? || user.country.blank?}#{user.country}