- unless profile.last_job.blank?
  .row-fluid.experience
    .span3
      %h4=t 'users.show.experience'
      .lead= pluralize profile.experience, t('users.show.yr')
    .span9
      %h4=t 'users.show.last_job'
      .lead= profile.last_job
      - unless profile.past_companies.blank?
        %p
          %small=t 'users.show.past_companies'
          %br/
          = profile.past_companies
  .row-fluid
    .span12
      %h4=t 'users.show.education'
      .lead= profile.education
- else
  .row-fluid
    .span3
      %h4=t 'users.show.experience'
      .lead= pluralize profile.experience, t('users.show.yr')
    .span9
      %h4=t 'users.show.education'
      .lead= profile.education