#buttons
  .pull-right
    - if user_signed_in? && current_user == user && !has_subdomain
      %a.btn.btn-large.btn-primary{href: edit_user_path(user)}
        = t('edit')
    - else
      %a.btn.btn-large.btn-danger
        = t('contact')
    .btn-group
      .btn.btn-large.dropdown-toggle{"data-toggle" => 'dropdown', href:'#', class: "#{(user_signed_in? && current_user == user && !has_subdomain) ? 'btn-danger'  :'btn-inverse'}"}
        = t('share')
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to t('users.show.email'), new_sharing_path(id: user.id)
        %li
          = link_to 'LinkedIn', new_sharing_path(id: user.id, provider: 'linkedin')
    .row
      .span2
        .explanation
          - if user_signed_in? && current_user == user && !has_subdomain
            %h5 Public profile
            = link_to "http://#{request.domain}/#{user.subdomain}", "http://#{request.domain}/#{user.subdomain}", target: '_new'
          - else
            %h5 What’s this?
            %p #{user.fullname.split.first} is looking for a job and wants your help. Contact him if you have a job or a tip for him. Otherwise help him out by sharing his profile!