= form_for @user, html: {id: 'edit-form'} do |f|
  .row
    - unless signed_up?(@user)
      .span3#popovers
        = render 'edit_popovers'
    .span5{class: "#{'offset3' if signed_up?(@user)}"}
      = render 'edit_text', f: f
      .well#profile
        = render 'edit_identity', f: f
        = f.fields_for(:profiles) {|profile_builder| render 'fields_profile', f: profile_builder}
      .pull-right.danger-text#required * required fields
    .span2.offset2
      = render 'edit_buttons', f: f