.span12
  = form_for @user do |f|
    .row-fluid
      .span2.hidden-phone
      .span6
        = render 'edit_text', f: f
        .well#profile
          = render 'edit_identity', f: f
          = f.fields_for(:profiles) {|profile_builder| render 'fields_profile', f: profile_builder}
        .pull-right.danger-text#required * required fields
      .span2
      .span2
        = render 'edit_buttons',    f: f

- unless signed_up?(@user) || Rails.env.test?
  - analytical.event('Signed up manually')            if flash[:success] == t('devise.registrations.signed_up')
  - analytical.event('Signed up with social account') if @user.social? && flash[:success] == t('flash.success.provider.signed_up', provider: @user.authentifications.first.provider.humanize)
