.span12
  = form_for @user do |f|
    .row-fluid
      .span2.hidden-phone
      .span6
        .well#profile
          = render 'edit_identity', f: f
          = f.fields_for(:profiles) {|profile_builder| render 'fields_profile', f: profile_builder}
        .pull-right.danger-text * #{t('required_fields')}
      .span2
      .span2
        = render 'edit_buttons',    f: f

- if flash[:notice] == t('devise.registrations.signed_up')
  = mixpanel_event('Signed up')
  = mixpanel_event('Signed up manually')
- elsif flash[:success] && flash[:success].match(Regexp.new(t('flash.success.provider.signed_up', provider: '.+')))
  = mixpanel_event('Signed up')
  = mixpanel_event('Signed up with social account')