.header
  %h1= signed_up?(@user) ? 'Edit your profile' : 'Complete your profile!'
  %br/

= form_for @user, html: { id:"edit-user-#{@user.id}" } do |f|
  .row
    .span12
      .card
        .row
          .span4.well{style:'padding-bottom:14px'}
            .row
              .span1
                %a{href: '#image-modal', 'data-toggle' => 'modal'}
                  = image_tag (@user.image.blank? ? 'default_user.jpg' : @user.image_url(:thumb).to_s)
              .span3
                = f.text_field :fullname, value: (@user.fullname ? @user.fullname : ("#{@linkedin[:first_name]} #{@linkedin[:last_name]}" unless @linkedin.nil?)), placeholder: 'Full name', style: 'height:13px; font-size:15px'
                %br/
                = f.text_field :city, value: (@user.city ? @user.city : (@linkedin[:city] unless @linkedin.nil?)), placeholder: 'City', class:'input-small'
                = f.text_field :country, value: (@user.country ? @user.country : (@linkedin[:country] unless @linkedin.nil?)), placeholder: 'Country', style: 'width:105px', class:'input-small'
                = f.text_field :role, value: (@user.role ? @user.role : (@linkedin[:current_role] unless @linkedin.nil?)), placeholder: 'Role', class:'input-small'
                = f.text_field :company, value: (@user.company ? @user.company : (@linkedin[:current_company] unless @linkedin.nil?)), placeholder: 'Company', style: 'width:105px', class:'input-small'

          .span5.offset2
            - if signed_up?(@user)
              .pull-right
                %h4
                  Public profile: http://
                  = f.text_field :subdomain, class:'input-small', style:'margin-top:5px; font-size:14px; font-weight:bold'
                  = request.host
            - else
              - unless @linkedin
                .lead.pull-right
                  Import your information from
                  %strong LinkedIn
                .pull-right
                  %a.btn.btn-large{href: omniauth_authorize_path(:user, 'linkedin')} Import from Linkedin

        = f.fields_for(:profiles) { |profile_builder| render 'fields_profile', f: profile_builder }

        = render 'image_modal', f: f