.header
  %h1= @title
  %br/

= form_for @user, html: { id:'edit_form' } do |f|
  .row
    .span12
      .card
        .row
          .span4.well{style:'padding-bottom:14px'}
            .row
              .span1
                = f.file_field :image, id: 'image_click', style: 'position:absolute;z-index:-1'
                %a{href: '#picture-modal', 'data-toggle' => 'modal'}
                  = image_tag (@user.image_url.nil? ? 'default_user.jpg' : @user.image_url(:thumb).to_s)
              .span3
                = f.text_field :fullname, placeholder: 'Full name', style: 'height:13px; font-size:15px'
                %br/
                = f.text_field :city, placeholder: 'City', class:'input-small'
                = f.text_field :country, placeholder: 'Country', style: 'width:105px', class:'input-small'
                = f.text_field :role, placeholder: 'Role', class:'input-small'
                = f.text_field :company, placeholder: 'Company', style: 'width:105px', class:'input-small'

          - unless signed_up?(@user)
            .span5.offset2
              .lead.pull-right
                Import your information from
                %strong LinkedIn
                or
                %strong Facebook
              .pull-right
                %a.btn.btn-large{'data-toggle' => 'modal', href: '#linkedin-modal'} Import from Linkedin
                &nbsp;
                %a.btn.btn-large{'data-toggle' => 'modal', href: '#facebook-modal'} Import from Facebook

        = f.fields_for(:profiles) { |profile_builder| render 'fields_profile', f: profile_builder }

= render 'edit_modals'