.span12
  - unless signed_up? current_user
    = render 'layouts/activation_bar', step: 2
  = form_for @user do |f|
    .row-fluid
      .span2.hidden-phone
      .span6
        .well.profile
          = render 'edit_identity', f: f
          = f.fields_for(:profiles) {|profile_builder| render 'fields_profile', f: profile_builder}
        .pull-right.danger-text * #{t('required_fields')}
      .span2
      .span2
        = render 'edit_buttons',    f: f

= mixpanel_call('track', 'Signed up', "{'Signup type': '#{@user.social? ? 'Social' : 'Manual'}'}") if params[:mixpanel_signup]
