.header
  %h1= signed_up?(@user) ? 'Edit your profile' : 'Complete your profile!'
  %br/

= form_for @user, html: { id:"edit-user-#{@user.id}" } do |f|
  .row
    .span12
      .card
        .row
          .span4.well{style:'padding-bottom:14px'}
            .row
              .span1
                %a{href: '#image-modal', 'data-toggle' => 'modal'}
                  = image_tag (@user.image.blank? ? 'default_user.jpg' : @user.image_url(:thumb).to_s)
              .span3
                = f.text_field :fullname, value: @user.li_attr(:fullname, @linkedin), placeholder: t('users.edit.fullname_placeholder'), style: 'height:13px; font-size:15px'
                %br/
                = f.text_field :city,    value: @user.li_attr(:city,    @linkedin), placeholder: t('users.edit.city_placeholder'),                          class:'input-small'
                = f.text_field :country, value: @user.li_attr(:country, @linkedin), placeholder: t('users.edit.country_placeholder'), style: 'width:105px', class:'input-small'
                = f.text_field :role,    value: @user.li_attr(:role,    @linkedin), placeholder: t('users.edit.role_placeholder'),                          class:'input-small'
                = f.text_field :company, value: @user.li_attr(:company, @linkedin), placeholder: t('users.edit.company_placeholder'), style: 'width:105px', class:'input-small'

          .span5.offset2
            - if signed_up?(@user)
              .pull-right
                %h4
                  = t('users.edit.public_profile')
                  = f.text_field :subdomain, class:'input-small', style:'margin-top:5px; font-size:14px; font-weight:bold'
                  = request.host.tr('www','')
            - else
              - unless @linkedin
                .lead.pull-right
                  = t('users.edit.import_info')
                  %strong LinkedIn
                .pull-right
                  %a.btn.btn-large{ href: omniauth_authorize_path(:user, 'linkedin') }= t('users.edit.import_linkedin')

        = f.fields_for(:profiles) { |profile_builder| render 'fields_profile', f: profile_builder }

        = render 'image_modal', f: f
