= form_for @user, html: {id:"edit-form"} do |f|
  .row
    .span5.offset3
      = render 'edit_text', f: f
      .well#profile
        = render 'edit_identity', f: f
        = f.fields_for(:profiles) {|profile_builder| render 'fields_profile', f: profile_builder}
    .span2.offset2
      = render 'edit_buttons', f: f