.row
  .span5
    .card
      .row
        .span4.well
          .row
            .span1= image_tag 'default_user.jpg'
            .span3
              %h3= @user.fullname
              %p
                = @user.city
                = ',' unless @user.city.nil? || @user.country.nil?
                = @user.country
              %p
                = @user.role
                = ',' unless @user.role.nil? || @user.company.nil?
                = @user.company

      .row
        .span1.well
          %h6 Experience
          .gigantic #{@user.profiles.first.experience} yrs
        .span3.well{style:'padding-right:0'}
          %h6 Highest Education
          .lead= @user.profiles.first.education

      .row
        .span4.well{style: 'padding-bottom:0'}
          %h6 Skills
          .lead
            .row
              .span3 #{@user.profiles.first.skill_1}
              .span1= render 'level_bar', level: @user.profiles.first.skill_1_level
            .row
              .span3 #{@user.profiles.first.skill_2}
              .span1= render 'level_bar', level: @user.profiles.first.skill_2_level
            .row
              .span3 #{@user.profiles.first.skill_3}
              .span1= render 'level_bar', level: @user.profiles.first.skill_3_level

      .row
        .span4.well{style: 'padding-bottom:0'}
          %h6 Qualities
          .lead
            .row
              .span3 #{@user.profiles.first.quality_1}
            .row
              .span3 #{@user.profiles.first.quality_2}
            .row
              .span3 #{@user.profiles.first.quality_3}

  .span5.offset1
    .pull-right
      %a.btn.btn-primary{ href: edit_user_path }
        .icon-edit.icon-white
        Edit
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    .row
      %h2{ style: 'text-align:right' }
        .icon-comment
        &nbsp;
        = @user.profiles.first.text
%br/
- unless current_user.authentifications.empty?
  .row
    .span4
      %h6= "More about #{current_user.fullname}"
      - current_user.authentifications.each do |authentification|
        = link_to image_tag("#{authentification.provider}.png" ,title: "Go to his #{authentification.provider.titleize} page"), "#{authentification.url}", { target: '_new'}