.span12
  .row-fluid
    .span2.hidden-phone
    .span6
      .well.profile
        = render 'show_profile', user: @user
    .span2
    .span2
      = render 'show_buttons', user: @user
      = render 'profile_email_modal'

= mixpanel_people(current_user) if flash[:success] == t('flash.success.profile.updated')

- if user_signed_in?

  - unless current_user == @user

    - if flash[:success] && flash[:success].match(Regexp.new(t('flash.success.profile.shared.other_user', fullname: @user.fullname, recipient_email: '.+')))
      = mixpanel_call('track', 'Sent profile by email', "{'User type': 'Other user'}")
    - else
      = mixpanel_call('track', 'Viewed profile', "{'User type': 'Other user'}")

- else

  - if flash[:success] && flash[:success].match(Regexp.new(t('flash.success.profile.shared.public_user', fullname: @user.fullname, recipient_email: '.+')))
    = mixpanel_call('track', 'Sent profile by email', "{'User type': 'Public user'}")
  - else
    = mixpanel_call('track', 'Viewed profile', "{'User type': 'Public user'}")
