.row
  .span5
    .card{id:"user-#{@user.id}"}
      .row
        .span4.well{style:'padding-bottom:14px'}
          .row
            .span1= image_tag (@user.image.blank? ? 'default_user.jpg' : @user.image_url(:thumb).to_s)
            .span3
              %h3= @user.fullname
              %p #{@user.city}#{', ' unless @user.city.blank? || @user.country.blank?}#{@user.country}
              %p #{@user.role}#{', ' unless @user.role.blank? || @user.company.blank?}#{@user.company}

      .row
        .span1.well{style:'padding:14px'}
          %h6= t('card.experience')
          .gigantic
            = pluralize @user.profile.experience, 'yr'
        .span3.well{style:'min-height:92px; padding:14px'}
          %h6= t('card.education')
          .lead= @user.profile.education

      .row
        .span4.well{style:'padding-bottom:0'}
          %h6= t('card.skills')
          .lead
            - unless @user.profile.skill_1.blank?
              .row
                .span3 #{@user.profile.skill_1}
                .span1= render 'level_bar', level: @user.profile.skill_1_level
            - unless @user.profile.skill_2.blank?
              .row
                .span3 #{@user.profile.skill_2}
                .span1= render 'level_bar', level: @user.profile.skill_2_level
            - unless @user.profile.skill_3.blank?
              .row
                .span3 #{@user.profile.skill_3}
                .span1= render 'level_bar', level: @user.profile.skill_3_level


      .row
        .span4.well{style:'padding-bottom:14px'}
          %h6= t('card.qualities')
          .lead
            - unless @user.profile.quality_1.blank?
              .row
                .span3 #{@user.profile.quality_1}
            - unless @user.profile.quality_2.blank?
              .row
                .span3 #{@user.profile.quality_2}
            - unless @user.profile.quality_3.blank?
              .row
                .span3 #{@user.profile.quality_3}

    - unless @user.profile.file.blank? && @user.authentifications.empty? && @user.profile.url.blank?
      .row
        .span4
          %br/
          %h6{style:'margin-bottom:10px'}= t('card.more_about', fullname: "#{@user.fullname}")
          - unless @user.profile.file.blank?
            %a.btn.btn-large{href: @user.profile.file_url.to_s, style:'margin-right:2px'}
              .icon-upload
              = t('card.download_cv')
          - unless @user.authentifications.empty?
            - @user.authentifications.each do |authentification|
              = link_to image_tag("#{authentification.provider}.png", title:t('card.go_to_profile', fullname: "#{@user.fullname}", provider: "#{authentification.provider.titleize}")), authentification.url, target:'_new'
          - unless @user.profile.url.blank?
            %a.btn.btn-large.btn-danger{href: "http://#{@user.profile.url}", target:'_blank', style:'margin-left:2px'}
              .icon-globe.icon-white
              = t('card.site')

  .span5.offset2
    .row
      - if current_user?(@user) && !has_subdomain
        .pull-right
          %a.btn{href: root_url(subdomain: @user.subdomain), target:'_blank', style:'margin-right:3px'}
            .icon-globe
            = t('users.show.public_profile')
          %a.btn.btn-primary{ href: edit_user_path(@user) }
            .icon-pencil.icon-white
            = t('edit')

      %h1{style:'margin-top:45%; text-align:right'}
        %i= @user.profile.text
      .pull-right
        .btn-group{:style => 'display:inline-block;margin-top:50px;'}
          %a.btn.btn-gigantic.dropdown-toggle{"data-toggle" => 'dropdown', href:'#', style:'padding-left:15px; margin-bottom:-24px'}
            .icon-share
            = t('share')
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to t('users.show.email'), new_sharing_path(id: @user.id)
            %li
              = link_to 'LinkedIn', new_sharing_path(id: @user.id, provider: 'linkedin')