- devise_error_messages! unless resource.errors.empty?

.span3.hidden-phone
.span6.devise
  .well
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f|
      .row-fluid
        .span8
          %h1=t 'devise.passwords.edit.title'
          = f.hidden_field :reset_password_token
          %label.inline=t 'devise.passwords.new_password'
          %span.danger-text *
          %br/
          = f.password_field :password
          %br/
          %label.inline=t 'devise.passwords.new_password_confirmation'
          %span.danger-text *
          %br/
          = f.password_field :password_confirmation
          %br/
          %a.btn{href: url_for(:back)}=t 'cancel'
          = f.submit t('devise.passwords.change_password'), class: 'btn btn-primary'
        .span1.visible-desktop
        .span3.visible-desktop
          %h4=t 'devise.passwords.sign_in'
          = render 'devise/shared/links'
      .row-fluid.hidden-desktop
        .span11
          %br/
          %br/
          %h4=t 'devise.passwords.sign_in'
          = render 'devise/shared/links'
  .pull-right.danger-text * #{t('required_fields')}