- devise_error_messages! unless resource.errors.empty?

.span3.hidden-phone
.span6.devise
  .well
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f|
      .row-fluid
        .span7
          %h1=t 'devise.passwords.title'
          = f.hidden_field :reset_password_token
          %small=t 'devise.passwords.new_password'
          %span.danger-text *
          %br/
          = f.password_field :password
          %br/
          %small=t 'devise.passwords.new_password_confirmation'
          %span.danger-text *
          %br/
          = f.password_field :password_confirmation
        .span1.hidden-phone
        .span4.span1.hidden-phone
          %h4=t 'devise.passwords.sign_in'
          = render 'devise/shared/links'
      .row-fluid
        .span10
          %a.btn{href: url_for(:back)}=t 'cancel'
          = f.submit t('devise.passwords.change_password'), class: 'btn btn-primary'
  .pull-right.danger-text * required fields