- unless user.authentifications.empty?
  - user.authentifications.each do |auth|
    = link_to image_tag("#{auth.provider}2.png", title: t('devise.omniauth.remove_account', network: "#{auth.provider.titleize}")), authentification_path(auth), confirm: t('devise.omniauth.remove_account_ask', network: "#{auth.provider.titleize}"), method: :delete

= '|' if !user.authentifications.empty? && !user.has_auth?(:all)

- unless user.has_auth? :all
  - unless user.has_auth? 'facebook'
    = link_to image_tag('facebook.png', title: t('devise.omniauth.add_account', network: 'Facebook')), omniauth_authorize_path(user, 'facebook')
  - unless user.has_auth? 'linkedin'
    = link_to image_tag('linkedin.png', title: t('devise.omniauth.add_account', network: 'Linkedin')), omniauth_authorize_path(user, 'linkedin')
  - unless user.has_auth? 'twitter'
    = link_to image_tag('twitter.png', title: t('devise.omniauth.add_account', network: 'Twitter')), omniauth_authorize_path(user, 'twitter')
  - unless user.has_auth? 'google_oauth2'
    = link_to image_tag('google_oauth2.png', title: t('devise.omniauth.add_account', network: 'Google+')), omniauth_authorize_path(user, 'google_oauth2')