- unless user.authentifications.empty?
  - user.authentifications.each do |auth|
    - inside_a = "<i class='icon-#{auth.provider.to_s.gsub('_oauth2','')}'></i>&nbsp;&nbsp;#{auth.provider.to_s.humanize.split[0]}"
    = link_to inside_a.html_safe, authentification_path(auth), method: :delete, title: t('devise.omniauth.remove_account', provider: "#{auth.provider.to_s.humanize.split[0]}"), class: "btn btn-small btn-#{auth.provider.to_s.gsub('_oauth2','')} active"

- unless user.has_auth? :all
  - unless user.has_auth? 'facebook'
    = link_to "<i class='icon-facebook'></i>&nbsp;&nbsp;Facebook".html_safe, omniauth_authorize_path(user, 'facebook'), title: t('devise.omniauth.add_account', provider: 'Facebook'), class: 'btn btn-small btn-facebook'
  - unless user.has_auth? 'linkedin'
    = link_to "<i class='icon-linkedin'></i>&nbsp;&nbsp;Linkedin".html_safe, omniauth_authorize_path(user, 'linkedin'), title: t('devise.omniauth.add_account', provider: 'Linkedin'), class: 'btn btn-small btn-linkedin'
  - unless user.has_auth? 'twitter'
    = link_to "<i class='icon-twitter'></i>&nbsp;&nbsp;Twitter".html_safe, omniauth_authorize_path(user, 'twitter'), title: t('devise.omniauth.add_account', provider: 'Twitter'), class: 'btn btn-small btn-twitter'
  - unless user.has_auth? 'google_oauth2'
    = link_to "<i class='icon-google-plus'></i>&nbsp;&nbsp;Google".html_safe, omniauth_authorize_path(user, 'google_oauth2'), title: t('devise.omniauth.add_account', provider: 'Google'), class: 'btn btn-small btn-google'