.span12#new-landing
  .row-fluid
    .span12
      .hero-unit
        .row-fluid
          .span1.hidden-phone
          .span10
            %h1=t 'pages.landing.new.title'
        .row-fluid
          .span12
            .the-hero
              .visible-desktop= link_to image_tag("screenshots/new_landing/#{locale}/hero.jpg"), sign_up_path
              .hidden-desktop= link_to image_tag("screenshots/new_landing/#{locale}/hero_mobile.jpg"), sign_up_path

  #grey-background
    .container
      .row-fluid#cta-testimonials
        .span12
          .row-fluid#cta
            .span12
              %h1=t 'pages.landing.new.cta_title'
              %a.btn.btn-large.btn-primary.btn-top{href: sign_up_path}=t 'pages.landing.new.join'
          / .row-fluid#testimonials
          /   .visible-desktop
          /     .span4
          /       %p
          /         =t 'pages.new_landing.testimonial_1_html'
          /       %span.by - Porta Ipsum
          /     .span4.offset1
          /       %p
          /         =t 'pages.new_landing.testimonial_2_html'
          /       %span.by - Aenean Dolor
          /   .visible-tablet
          /     .span5
          /       %p
          /         =t 'pages.new_landing.testimonial_1_html'
          /       %span.by - Porta Ipsum
          /     .span5.offset1
          /       %p
          /         =t 'pages.new_landing.testimonial_2_html'
          /       %span.by - Aenean Dolor
          /   .visible-phone
          /     .span12
          /       %p
          /         =t 'pages.new_landing.testimonial_1_html'
          /       %span.by - Porta Ipsum

  .row-fluid#screenshots
    .span12
      %a{href: '#modal_signup', 'data-toggle'       => 'modal'}= image_tag "screenshots/new_landing/#{locale}/signup_thumb.gif"
      %a{href: '#modal_profile', 'data-toggle'      => 'modal'}= image_tag "screenshots/new_landing/#{locale}/profile_thumb.gif"
      %a{href: '#modal_apply', 'data-toggle'        => 'modal'}= image_tag "screenshots/new_landing/#{locale}/apply_thumb.gif"
      %a{href: '#modal_applications', 'data-toggle' => 'modal'}= image_tag "screenshots/new_landing/#{locale}/applications_thumb.gif"

  .row-fluid
    .span12
      .alert.alert-info=t 'pages.landing.new.disclaimer_html'

  .modal.screenshot#modal_signup.hide
    .modal-body
      = image_tag "screenshots/new_landing/#{locale}/signup.gif"
      %h5.pull-right=t 'pages.landing.new.screenshot_1'
  .modal.screenshot#modal_profile.hide
    .modal-body
      = image_tag "screenshots/new_landing/#{locale}/profile.gif"
      %h5.pull-right=t 'pages.landing.new.screenshot_2'
  .modal.screenshot#modal_apply.hide
    .modal-body
      = image_tag "screenshots/new_landing/#{locale}/apply.gif"
      %h5.pull-right=t 'pages.landing.new.screenshot_3'
  .modal.screenshot#modal_applications.hide
    .modal-body
      = image_tag "screenshots/new_landing/#{locale}/applications.gif"
      %h5.pull-right=t 'pages.landing.new.screenshot_4'
