.row-fluid.admin
  .span12
    .row-fluid
      .span4
        .hero-unit
          %h1= InviteEmail.count
          .big invites
          %br/
      .span4
        .hero-unit
          %h1= User.count
          .big users
          %br/
      .span4
        .hero-unit
          %h1= User.select{|user| user.social?}.count
          .big
            social
            %br/
            users
    .row-fluid
      .span4
        .hero-unit
          %h1= User.select{|user| signed_up?(user)}.count
          .big
            completed
            %br/
            profiles
      .span4
        .hero-unit
          %h1= ProfileEmail.count
          .big profile emails
          %br/
      .span4
        .hero-unit
          %h1= User.select{|user| user.admin?}.count
          .big admins
          %br/
.row-fluid.admin
  = render 'users/index'
  = render 'invite_emails/index'
