= render "#{@version}_landing"

= mixpanel_event('Viewed landing page',"{'version':'#{@version}'}")   if flash.blank?
= mixpanel_event('Signed in')              														if flash[:success] == t('flash.success.provider.signed_in')