%span12#search
  .row-fluid
    .span8.offset2
      .row-fluid
        %h2 Search companies by location, industry or name
        %h6 You can also search people by full name
        %input.span11{type: 'text', placeholder: 'Search', value: 'Amsterdam, internet'}
        .pull-right
          %a{href: search3_path}
            search
            .icon-search
        %br/
        %span.label.label-info
          .icon-map-marker
          Amsterdam
        %span.label.label-inverse
          internet
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo1.png'
        .span4
          %h3
            = link_to 'Booking.com', search4_path
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 2460
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-google-plus
            .icon-facebook
            .icon-pinterest
            .icon-github
            .icon-dribble
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo2.png'
        .span4
          %h3
            = link_to 'Bazaarvoice', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 857
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-google-plus
            .icon-github
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo3.png'
        .span4
          %h3
            = link_to 'Hyves', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 140
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo4.png'
        .span4
          %h3
            = link_to 'Mirabeau', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 275
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-google-plus
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo5.png'
        .span4
          %h3
            = link_to 'Tam Tam', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 170
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-pinterest
            .icon-dribble
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo6.png'
        .span4
          %h3
            = link_to 'eFocus', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 144
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-facebook
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo7.png'
        .span4
          %h3
            = link_to 'Tucows', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 171
            social employees
          %h2
            .icon-linkedin
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo8.png'
        .span4
          %h3
            = link_to 'Online', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 388
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-facebook
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo9.png'
        .span4
          %h3
            = link_to 'Epirium', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 202
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-google-plus
            .icon-facebook
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo10.png'
        .span4
          %h3
            = link_to 'MIH', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 223
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-github
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo11.png'
        .span4
          %h3
            = link_to 'Adyen', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 95
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo12.png'
        .span4
          %h3
            = link_to 'KREM', '#'
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 99
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-github
  .row-fluid
    .span6.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo13.png'
        .span4
          %h3
            = link_to 'Joblr', search5_path
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-briefcase
          Internet
        .span4.offset1
          %h4
            %strong 2
            social employees
          %h2
            .icon-linkedin
            .icon-twitter
            .icon-facebook
            .icon-github
