%span12#search
  .row-fluid
    .span2
      .row-fluid
        %h5 Search companies by location, industry or name
        %input.span11{type: 'text', placeholder: 'Search', value: 'Amsterdam, internet'}
        %br/
        %span.label.label-info
          .icon-map-marker
          Amsterdam
        %span.label.label-inverse
          internet
        %br/
        %br/
        %a{href: search3_path}
          search
          .icon-search
    .span10.well
      .row-fluid
        .span2
          = image_tag 'company_logos/company_logo13.png'
        .span3
          %h2 Joblr
          .icon-briefcase
          Internet
          %br/
          .icon-group
          3 employees
          %br/
          .icon-globe
          = link_to 'www.joblr.co', 'http://joblr.co', target: 'new'
        .span4
          %h4 Contact information
          .icon-phone
          +31 6 31912261
          %br/
          .icon-envelope-alt
          = link_to 'team@joblr.co', 'mailto:team@joblr.co'
          %br/
          .icon-map-marker
          Rietlandpark 59, 1019 DS Amsterdam,
          %br/
          Netherlands
        .span3
          %h4 Social accounts
          .icon-linkedin :
          = link_to "Joblr", 'http://linkedin.com/company/joblr'
          on LinkedIn
          %br/
          .icon-twitter :
          = link_to '@joblr_co', 'http://twitter.com/joblr_co'
          on Twitter
          %br/
          .icon-facebook :
          = link_to 'joblr.co', 'http://facebook.com/joblr.co'
          on Facebook
      .row-fluid
        .span11
          %br/
          %h5 Description
          %br/
          %p
            Joblr is an Amsterdam based startup dedicated to fixing the job search. The website enables effortless job applications by helping work seekers import their info from LinkedIn and send their profile to companies through easy to read yet powerful profile emails. Getting tips and contacts from social networks is also just one "share" button away.
          %br/
      .row-fluid
        .span12
          %ul.nav.nav-tabs
            %li.active
              %a{href: '#people', 'data-toggle' => 'tab'} People
            %li
              %a{href: '#news', 'data-toggle' => 'tab'} News
            %li
              %a{href: '#jobs', 'data-toggle' => 'tab'} Jobs

          .tab-content
            .tab-pane.active#people
              .row-fluid
                .span1
                  = image_tag 'people_avatars/dom.jpg'
                .span3
                  %h3
                    = link_to 'Dominic Matheron', search6_path
                  .icon-map-marker
                  Amsterdam, Netherlands
                  %br/
                  .icon-briefcase
                  Co-founder
                .span2
                  %h2
                    .icon-linkedin
                    .icon-twitter
                    .icon-github
                .span1
                  = image_tag 'people_avatars/franck.png'
                .span3
                  %h3
                    = link_to 'Franck Sabattier', '#'
                  .icon-map-marker
                  Grenoble, France
                  %br/
                  .icon-briefcase
                  Co-founder
                .span2
                  %h2
                    .icon-linkedin
                    .icon-twitter
                    .icon-facebook
                    .icon-github
                    .icon-google-plus
              %br/
              %br/
              .row-fluid
                .span1
                  = image_tag 'people_avatars/joel.jpg'
                .span3
                  %h3
                    = link_to 'Joel Laumans', '#'
                  .icon-map-marker
                  Rotterdam, Netherlands
                  %br/
                  .icon-briefcase
                  User Experience Designer
                .span2
                  %h2
                    .icon-twitter
                    .icon-facebook
                    .icon-google-plus

            .tab-pane#news
              .row-fluid
                .span1
                  =image_tag 'people_avatars/joel.jpg'
                .span9.big
                  =link_to 'Joel Laumans', search6_path
                  joined the company
                  %small on Linkedin
                .span2
                  %h6.pull-right 3 hours ago
              %br/
              .row-fluid
                .span1
                  =image_tag 'company_logos/company_logo13.png'
                .span9.big
                  RT
                  =link_to '@TomBolt:', 'https://twitter.com/TomBolt'
                  A2: Really, what changed? Nothing has changed. Stick to your plan and don’t let interruptions put on the brakes.
                  =link_to '#HFChat', 'https://twitter.com/search?q=%23HFChat&src=hash'
                  %small on Twitter
                .span2
                  %h6.pull-right 5 hours ago
              %br/
              .row-fluid
                .span1
                  =image_tag 'company_logos/company_logo13.png'
                .span9.big
                  A1 Less people are seeking, so you have less competiton
                  =link_to '#HFChat', 'https://twitter.com/search?q=%23HFChat&src=hash'
                  %small on Twitter
                .span2
                  %h6.pull-right 5 hours ago
              %br/
              .row-fluid
                .span1
                  =image_tag 'company_logos/company_logo13.png'
                .span9.big
                  RT
                  =link_to '@PeopleClues:', 'https://twitter.com/PeopleClues'
                  Q4: Does a disruptive DNA in HR change the progression forever? and for the better? or worse?
                  =link_to '#HFChat', 'https://twitter.com/search?q=%23peoplechat&src=hash'
                  %small on Twitter
                .span2
                  %h6.pull-right 5 hours ago
              %br/
              .row-fluid
                .span1
                  =image_tag 'company_logos/company_logo13.png'
                .span9.big
                  Joblr published a new link:
                  = link_to 'Cover letter and personnality', '#'
                  %small on Facebook
                .span2
                  %h6.pull-right 2 days ago

            .tab-pane#jobs
              .row-fluid
                .span3
                  %h2 SEO Expert
                  .icon-map-marker
                  Amsterdam, Netherlands
                  %br/
                  .icon-info-sign
                  2-5 yrs experience
                .span8.offset1
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  = link_to '» read more', '#'
              %br/
              %br/
              .row-fluid
                .span3
                  %h2 Ruby on Rails Starter
                  .icon-map-marker
                  Amsterdam, Netherlands
                  %br/
                  .icon-info-sign
                  Beginner or Junior
                .span8.offset1
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  = link_to '» read more', '#'
              %br/
              %br/
              .row-fluid
                .span3
                  %h2 Project Manager
                  .icon-map-marker
                  Paris, France
                  %br/
                  .icon-info-sign
                  10 yrs experience at least
                .span8.offset1
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  = link_to '» read more', '#'
