.span7
  .well
    %h4 Main typography
    %h1
      Heading 1
      %small small heading example
    %br/
    %h2
      Heading 2
      %small small heading example
    %br/
    %h3
      Heading 3
      %small small heading example
    %br/
    .lead
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    .big
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    %p
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
      %p
        .graylight-text
          Gray light text
          %a gray light link
        .info-text
          Info text
          %a info link
        .danger-text
          Danger text
          %a danger link
        .success-text
          Success text
          %a success link
    %br/
    %h4 Call to action
    .btn.btn-large.btn-primary Primary
    .btn.btn-large.btn-danger Danger!
    .btn.btn-large Default
    .btn.btn-large.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-primary Primary
    .btn.btn-danger Danger!
    .btn.btn Default
    .btn.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-small.btn-primary Primary
    .btn.btn-small.btn-danger Danger!
    .btn.btn-small Default
    .btn.btn-small.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-mini.btn-primary Primary
    .btn.btn-mini.btn-danger Danger!
    .btn.btn-mini Default
    .btn.btn-mini.btn-inverse Inverse
  %br/
  %h4 Light background alternatives
  %h1
    Heading 1
    %small small heading example
  %br/
  %h2
    Heading 2
    %small small heading example
  %br/
  %h3
    Heading 3
    %small small heading example
  %br/
  .lead
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  .big
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %p
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %br/
  %h4 Call to action
  %p
    .btn.btn-large.btn-primary Primary
    .btn.btn-large.btn-danger Danger!
    .btn.btn-large Default
    .btn.btn-large.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-primary Primary
    .btn.btn-danger Danger!
    .btn.btn Default
    .btn.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-small.btn-primary Primary
    .btn.btn-small.btn-danger Danger!
    .btn.btn-small Default
    .btn.btn-small.btn-inverse Inverse
    %br/
    %br/
    .btn.btn-mini.btn-primary Primary
    .btn.btn-mini.btn-danger Danger!
    .btn.btn-mini Default
    .btn.btn-mini.btn-inverse Inverse
  %br/
  %h4 Alerts
  %br/
  .alert.alert-warning
    %b Warning!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-danger
    %b Danger!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-success
    %b Success!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-info
    %b Note!
    Lorem ipsum sit amet.
    %a.close &times;
.span1
.span4#style-tile
  .row-fluid
    %span.big Backgrounds
    %br/
    .well
      .white
    .well
      .background-light
    .well
      .background-dark
    .well
      .grayDark
  .row-fluid
    %span.big Colors
    %br/
    .well
      .red
    .well
      .blue