.span7
  .well
    %h4 Main typography
    %h1
      Heading 1
      %small small heading example
    %h2
      Heading 2
      %small small heading example
    %h3
      Heading 3
      %small small heading example
    %br/
    .lead
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    .big
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    %p
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    %br/
    %h4 Call to action
    .btn.btn-large.btn-danger Submit!
    .btn.btn-large.btn-primary Submit!
    .btn.btn-large.btn-default Submit!
    %br/
    %br/
    .btn.btn-danger Submit!
    .btn.btn-primary Submit!
    .btn.btn-default Submit!
    %br/
    %br/
    .btn.btn-small.btn-danger Submit!
    .btn.btn-small.btn-primary Submit!
    .btn.btn-small.btn-default Submit!
    %br/
    %br/
    .btn.btn-mini.btn-danger Submit!
    .btn.btn-mini.btn-primary Submit!
    .btn.btn-mini.btn-default Submit!
  %br/
  %h4 Light background alternatives
  %h1
    Heading 1
    %small small heading example
  %h2
    Heading 2
    %small small heading example
  %h3
    Heading 3
    %small small heading example
  %br/
  .lead
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  .big
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %p
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %br/
  %h4 Call to action
  .btn.btn-large.btn-danger Submit!
  .btn.btn-large.btn-primary Submit!
  .btn.btn-large.btn-inverse Submit!
  %br/
  %br/
  .btn.btn-danger Submit!
  .btn.btn-primary Submit!
  .btn.btn-inverse Submit!
  %br/
  %br/
  .btn.btn-small.btn-danger Submit!
  .btn.btn-small.btn-primary Submit!
  .btn.btn-small.btn-inverse Submit!
  %br/
  %br/
  .btn.btn-mini.btn-danger Submit!
  .btn.btn-mini.btn-primary Submit!
  .btn.btn-mini.btn-inverse Submit!
.span1
.span4#style-tile
  .row-fluid
    %span.big Backgrounds
    %br/
    .well
      .background-light
    .well
      .background-dark
    .well
      .white
    .well
      .grayDark
  .row-fluid
    %span.big Colors
    %br/
    .well
      .red
    .well
      .blue