.span7
  .well
    %h4 Main typography
    %h1
      Heading 1
      %small small heading example
    %h2
      Heading 2
      %small small heading example
    %h3
      Heading 3
      %small small heading example
    %br/
    .lead
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    .big
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    %p
      Example body text. Curabitur blandit tempus porttitor.
      = link_to 'Inline link example', '#'
      malesuada magna mollis euismod. Maecenas sed diam eget risus.
      %small Small text example
      sed posuere consectetur est at lobortis.
    %br/
    %h4 Call to action
    .btn.btn-large.btn-primary Primary
    .btn.btn-large.btn-danger Danger!
    .btn.btn-large Default
    %br/
    %br/
    .btn.btn-primary Primary
    .btn.btn-danger Danger!
    .btn.btn-inverse Default
    %br/
    %br/
    .btn.btn-small.btn-primary Primary
    .btn.btn-small.btn-danger Danger!
    .btn.btn-small Default
    %br/
    %br/
    .btn.btn-mini.btn-primary Primary
    .btn.btn-mini.btn-danger Danger!
    .btn.btn-mini Default
  %br/
  %h4 Light background alternatives
  %h1
    Heading 1
    %small small heading example
  %h2
    Heading 2
    %small small heading example
  %h3
    Heading 3
    %small small heading example
  %br/
  .lead
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  .big
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %p
    Example body text. Curabitur blandit tempus porttitor.
    = link_to 'Inline link example', '#'
    malesuada magna mollis euismod. Maecenas sed diam eget risus.
    %small Small text example
    sed posuere consectetur est at lobortis.
  %br/
  %h4 Call to action
  %p
    .btn.btn-large.btn-primary Primary
    .btn.btn-large.btn-danger Danger!
    .btn.btn-large Default
    %br/
    %br/
    .btn.btn-primary Primary
    .btn.btn-danger Danger!
    .btn.btn-inverse Default
    %br/
    %br/
    .btn.btn-small.btn-primary Primary
    .btn.btn-small.btn-danger Danger!
    .btn.btn-small Default
    %br/
    %br/
    .btn.btn-mini.btn-primary Primary
    .btn.btn-mini.btn-danger Danger!
    .btn.btn-mini Default
  %br/
  %h4 Alerts
  %br/
  .alert.alert-warning
    %b Warning!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-danger
    %b Danger!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-success
    %b Success!
    Lorem ipsum sit amet.
    %a.close &times;
  .alert.alert-info
    %b Note!
    Lorem ipsum sit amet.
    %a.close &times;
  %p
    .warning-text Warning text
    .danger-text Danger text
    .info-text Info text
    .success-text Success text
.span1
.span4#style-tile
  .row-fluid
    %span.big Backgrounds
    %br/
    .well
      .background-light
    .well
      .background-dark
    .well
      .white
    .well
      .grayDark
  .row-fluid
    %span.big Colors
    %br/
    .well
      .red
    .well
      .blue