.row.devise
  .span8.offset2
    .well
      .row
        .span3
          %h1= t('devise.sessions.sign_in')
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.label :username, class: 'inline'
            *
            = f.text_field :username
            = f.label :password, class: 'inline'
            *
            = f.password_field :password
            - if devise_mapping.rememberable?
              = f.label :remember_me, class: 'inline'
              &nbsp;
              = f.check_box :remember_me, class: 'inline', style: 'margin-top:0'
            .buttons
              %a.btn{href: url_for(:back)}= t('cancel')
              = f.submit t('devise.registrations.sign_in'), class: 'btn btn-primary'
        .span3.offset1
          %h4= t('devise.sessions.social_signin')
          = render partial: 'devise/shared/omniauth_links'
          %br/
          %br/
          %br/
          %h4= t('devise.sessions.problem')
          = render partial: 'devise/shared/links'