.well
  %h2= t('devise.registrations.sign_in_with_joblr_account')
  %br/

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    %div
      #{f.label :username, class: 'inline'} *
      %br/
      = f.text_field :username

    %div
      #{f.label :password, class: 'inline'} *
      %br/
      = f.password_field :password

    - if devise_mapping.rememberable?
      %div
        = f.label :remember_me, class: 'inline'
        &nbsp;
        = f.check_box :remember_me, class: 'inline', style: 'margin-top:0'

    %div= f.submit t('devise.registrations.sign_in'), class: 'btn'

  = render partial: 'devise/shared/links'