- devise_error_messages! unless resource.errors.empty?

.row-fluid.devise
  .span2.hidden-phone
  .span8
    .well
      .row-fluid
        .span6
          %h1= t('devise.sessions.social_signin')
          = render 'devise/shared/omniauth_links', user: resource, size: ''
        .span1
        .span1.visible-phone
        .span4
          %h4= t('devise.sessions.joblr_signin')
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            %small= t('devise.sessions.username')
            %span.danger-text *
            %br/
            = f.text_field :username, class: 'span4'
            %small= t('devise.sessions.password')
            %span.danger-text *
            %br/
            = f.password_field :password, class: 'span4'
            - if devise_mapping.rememberable?
              %small.delete=t 'devise.sessions.remember_me'
              &nbsp;
              = f.check_box :remember_me, class: 'inline', style: 'margin-top:0'
              %br/
            = f.submit t('devise.sessions.sign_in'), class: 'btn btn-primary'
            .problem
              %h4=t 'devise.sessions.problem'
              = render 'devise/shared/links'
    .pull-right.danger-text * required fields