= form_for @email_sharing, remote: true do |f|
  .modal-body
    #email-sharing-error
    - unless user_signed_in?
      .row-fluid
        .span1
          %small= "#{t('email_sharings.new.from_label')}<span class='danger-text'>#{link_to '*', '#required'}</span>".html_safe
        .span5
          = f.text_field :author_fullname, placeholder: t('email_sharings.new.from_fullname_placeholder'), class: 'span12'
        .span5
          = f.email_field :author_email, placeholder: t('email_sharings.new.from_email_placeholder'), class: 'span12'
    .row-fluid
      .span1
        %small= "#{t('email_sharings.new.to_label')}<span class='danger-text'>#{link_to '*', '#required'}</span>".html_safe
      .span5
        = f.text_field :recipient_fullname, placeholder: t('email_sharings.new.to_fullname_placeholder'), class: 'span12'
      .span5
        = f.email_field :recipient_email, placeholder: t('email_sharings.new.to_email_placeholder'), class: 'span12'
    .row-fluid
      .span1
      .span10
        %small= "#{t('email_sharings.new.text_label')}<span class='danger-text'>#{link_to '*', '#required'}</span>".html_safe
        = char_counter_for @email_sharing, :text, class: 'pull-right'
        = f.text_area :text, rows: 3, placeholder: @email_sharing_text
        %input{type: 'hidden', name: 'user_id', value: @user.id}
        .pull-right.danger-text *#{t('required_fields')}

  .modal-footer
    #loader.pull-left
      = image_tag 'base/loader.gif'
      = t('email_sharings.new.sending')
    %a.btn.btn-small{href:'#', 'data-dismiss' => 'modal'}= t('cancel')
    = f.submit t('email_sharings.new.send'), class: 'btn btn-small btn-primary'