.span3.hidden-phone
.span5.sharing
  .row-fluid
    .span12
      = form_for @email_sharing do |f|
        - unless user_signed_in?
          .row-fluid
            .span2
              %small= t 'email_sharings.new.from_label'
              %span.danger-text= link_to '*', '#required'
            .span5
              = f.text_field :author_fullname, placeholder: t('email_sharings.new.from_fullname_placeholder'), class: 'span5'
            .span5
              = f.email_field :author_email, placeholder: t('email_sharings.new.from_email_placeholder'), class: 'span5'
        .row-fluid
          .span2
            %small= t 'email_sharings.new.to_label'
            %span.danger-text= link_to '*', '#required'
          .span5
            = f.text_field :recipient_fullname, placeholder: t('email_sharings.new.to_fullname_placeholder'), class: 'span5'
          .span5
            = f.email_field :recipient_email, placeholder: t('email_sharings.new.to_email_placeholder'), class: 'span5'
        .well
          .row-fluid
            .span11
              %small= t 'email_sharings.new.text_label'
              %span.danger-text= link_to '*', '#required'
              %br/
              = f.text_area :text, rows: 3, placeholder: t('email_sharings.new.email_text'), class: 'lead'
              %input{type: 'hidden', name: 'user_id', value: @user.id}
              %br/
              %br/
              = link_to t('cancel'), @user, class: 'btn'
              = f.submit t('email_sharings.new.send'), class:'btn btn-primary'
          .arrow-bottom
        .pull-right.danger-text * required fields
  .row-fluid
    .span12
      .well#profile
        = render 'users/show_identity',             user: @user
        = render 'users/show_experience_education', user: @user
        = render 'users/show_skills',               user: @user
        = render 'users/show_qualities',            user: @user
        = render 'users/show_more',                 user: @user
.span2
.span2.sharing= render 'new_buttons',               user: @user