.container
  .row-fluid
    .span6
      - if user_signed_in?
        %h5=t 'footer.feedback.title'
        .row-fluid
          .span10
            = form_for @feedback_email, remote: true do |f|
              .input-prepend
                .add-on
                  %i.icon-comments
                = f.text_field :text, placeholder: t('footer.feedback.placeholder'), class: 'span9'
                = f.hidden_field :page, value: request.fullpath
              #feedback-sign
              #loader= image_tag 'base/loader.gif'
              = f.submit 'Submit', class: 'btn btn-mini btn-primary hidden', id: 'submit'
      - else
        %h5.copyright &copy; Joblr 2013
    .span6.hidden-phone
      .pull-right
        .social-links
          %h5=t 'footer.follow_us.title'
          %a{href: 'http://twitter.com/joblr_co', target: 'blank'}
            .icon-twitter{rel: 'tooltip', title: t('footer.follow_us.joblr_on', provider: 'Twitter')}
          %a{href: 'http://fb.me/joblr.co', target: 'blank'}
            .icon-facebook{rel: 'tooltip', title: t('footer.follow_us.joblr_on', provider: 'Facebook')}
          %a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
            .icon-linkedin{rel: 'tooltip', title: t('footer.follow_us.joblr_on', provider: 'LinkedIn')}