.container
  .row-fluid
    .span6
      - if user_signed_in?
        %h5=t 'footer.feedback.title'
        .row-fluid
          .span9
            = form_for @feedback_email, remote: true do |f|
              .input-prepend
                .add-on
                  %i.icon-comments
                = f.text_field :text, placeholder: t('footer.feedback.placeholder'), class: 'span11'
                = f.hidden_field :page, value: request.fullpath
              = f.submit 'Submit', class: 'btn btn-mini btn-primary hidden', id: 'submit'
          .span3
            #feedback-form-text
            #loader{style: 'display:none'}
              = image_tag 'base/loader.gif'
      - else
        %h5.lang-nav=t 'footer.joblr_in'
        %h5.lang-nav= render 'layouts/navigation/languages_navigation'
    .span6
      .pull-right
        .social-links
          %h5 Follow us
          %a{href: 'http://twitter.com/joblr_co', target: 'blank'}
            .icon-twitter{rel: 'tooltip', title: 'Joblr on Twitter'}
          %a{href: 'http://fb.me/joblr.co', target: 'blank'}
            .icon-facebook{rel: 'tooltip', title: 'Joblr on Facebook'}
          %a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
            .icon-linkedin{rel: 'tooltip', title: 'Joblr on LinkedIn'}