= link_to 'Joblr', root_path, class: 'brand'

%ul.nav
  - if user_signed_in?
    %li
      = link_to t('profile'), current_user
  - else
    %li
      = link_to t('pages.titles.overview'), home_url(subdomain:false)
    %li
      = link_to t('pages.titles.tour'), '#tour'
    %li
      = link_to t('pages.titles.pricing'), '#pricing'
    %li
      = link_to t('pages.titles.team'), '#team'
    %li
      = link_to t('pages.titles.contact'), '#contact'