= link_to '', root_path, class: 'brand'
%ul.nav
  - if user_signed_in?
    %li= link_to t('profile'), current_user
  - else
    %li= link_to t('pages.titles.overview'), "#{root_url(subdomain: false)}home"

    - if Rails.env.development?
      %li= link_to t('pages.titles.style_tile'), style_tile_path