= link_to 'Joblr', root_path, class: 'brand'

%ul.nav
  - if user_signed_in?
    %li
      = link_to t('profile'), current_user
  - else
    %li
      = link_to t('pages.titles.overview'), '#', id: 'overview'
    %li
      = link_to t('pages.titles.tour'), '#', id: 'tour'
    %li
      = link_to t('pages.titles.pricing'), '#', id: 'pricing'
    %li
      = link_to t('pages.titles.team'), '#', id: 'team'
    %li
      = link_to t('pages.titles.contact'), '#', id: 'contact'