- if user_signed_in?
  .btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
    .icon-bar
    .icon-bar
    .icon-bar

= link_to image_tag('base/logo.png', alt: 'Joblr'), root_path, class: 'brand'
%ul.nav
  %li= link_to t('pages.landing.title_alt'), landing_url
  %li= link_to t('pages.blog.title_alt'),'http://joblr.squarespace.com'

- if user_signed_in?
  .visible-desktop.nav-collapse= render 'layouts/navigation/left_navigation' if current_user.admin?
  .nav-collapse.hidden-desktop= render 'layouts/navigation/mobile_navigation'
  .visible-desktop= render 'layouts/navigation/right_navigation'
- else
  .navbar-text.pull-right
    %span.hidden-phone=t 'devise.registrations.already_member'
    - unless request.subdomain == 'staging'
      = link_to t('devise.registrations.sign_in'), new_user_session_url(subdomain: false)
    - else
      = link_to t('devise.registrations.sign_in'), new_user_session_url(subdomain: request.subdomains[1])